<!DOCTYPE html>
<html>

<head>
  <%- partial('_partial/title') %>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="css/sanalog.css" rel="stylesheet" type="text/css">
  <link href="assets/images/favicon.png" rel="icon" type="image/ico">
</head>

<body>
    <%- body %>
    <%- partial('_partial/footer') %>

    <%- js('js/main.js') %>
</body>
</html>