<!DOCTYPE html>
<html>

<head>
  <%- partial('_partial/title') %>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="../css/sanalog.css" rel="stylesheet" type="text/css">
  <link href="../assets/images/favicon.png" rel="icon" type="image/ico">
</head>

<body class="body">
  <div class="mobile">
    <h1 class="mobile_heading">Get a real screen.</h1>
    <p class="mobile_text">mobile version coming Soon™</p>
    <a href="https://www.amazon.com/s?k=monitor" target="_blank" class="mobile_button">Buy</a>
    </div>

    <a href="/"><img src="../assets/images/LogoBlack.png" width="300" class="logo"></a>
    <a href="/"><img src="../assets/images/LogoYellow.png" width="300" class="logo yellow"></a>

    <div id="navmenu" class="menu_sidebar" style="transform: translateX(-380px);">
    <a href="about" class="menu_link">about</a>
    <a href="blog/main" class="menu_link current">work</a>
    <a href="contact" class="menu_link">contact</a>
    <!-- Remember to add 'current' after menu_link on other pages -->
    </div>
    <div class="menu_bg"></div>
    <div class="menu_bar">
    <svg id="burger" class="menu_button" viewBox="0 0 24 24">
        <path d="M4 18L20 18" stroke="currentcolor" stroke-width="2" stroke-linecap="round" />
        <path d="M4 12L20 12" stroke="currentcolor" stroke-width="2" stroke-linecap="round" />
        <path d="M4 6L20 6" stroke="currentcolor" stroke-width="2" stroke-linecap="round" />
    </svg>
  </div>

  <!--Content Starts Here vvv-->
  <%- body %>
  <div id="luxy" class="smoothscroll">
    <div class="footer">
      <a href="https://github.com/itsSanalog/sanalog.net/blob/main/LICENSE" target="_blank" class="footer">© 2023 Sanalog</a>
    </div>
  </div>



  <!--COLLAPSIBLE MENUS-->
  <script>
    var coll = document.getElementsByClassName("works_collapsible");
    var i;
    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active1");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>
  <style>
    .active1, .works_collapsible:hover {
      background-color:black;
      color:#ff0;
    }

    .works_collapsible:after {
      content: "\002B";
      line-height: 42px;
      color: #000;
      float: right;
      margin-right: 15px;
    }

    .works_collapsible:hover:after {
      color: #ff0;
    }

    .active1:after {
      content: "\2212";
      color:#ff0
    }
  </style>


  <!-- SMOOTH SCROLLING -->
  <script src="https://min30327.github.io/luxy.js/dist/js/luxy.js"></script>
  <script charset="utf-8">
  var isMobile = /iPhone|iPad|Android/i.test(navigator.userAgent);
  if (!isMobile) {
        luxy.init({
          wrapper: '#luxy',
          wrapperSpeed: 0.065,
      });
  }
  </script>
</body>
</html>