---
import "../styles/normalize.css";

import { Image } from 'astro:assets';
import nasaImage from '../assets/nasa.jpg';

import Head from "../components/Head.astro";
---

<html lang="en">
  <Head title="About" />
  <body>
    <Image src={ nasaImage } alt="background" /></Image>
  </body>
</html>


<style>
  img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: -1;
  }
</style>