---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="About">
  <div id="luxy" class="smoothscroll main_flex">
    <div style="width: 800px; height: 800px"></div>
    <p class="test"></p>
    <div id="p5"></div>
    <Footer />
  </div>
</MainLayout>


<!-- SMOOTH SCROLLING -->
<script slot="inlineJS" src="https://min30327.github.io/luxy.js/dist/js/luxy.js"></script>
<script>
  var isMobile = /iPhone|iPad|Android/i.test(navigator.userAgent);
  if (!isMobile) {
      luxy.init({
          wrapper: '#luxy',
          wrapperSpeed: 0.1,
      });
  }
</script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.4/p5.min.js"></script>
<!-- No idea why the above import need not be inlineJS, and the below do. -->
<script slot="inlineJS">
  console.log('marqueebox.js loaded');

  let g;
  let font;
  let str = "bocchi";
  let d;
  let gg;

  function preload() {
    font = loadFont("/fonts/Helvetica.ttf");
    console.log('font loaded');
  }

  function setup() {
    createCanvas(800, 800, WEBGL).parent("p5");
    console.log('canvas created');
    g = createGraphics(400, 100);
    gg = createGraphics(400, 100);
    d = width / 2;

    let bound = font.textBounds(str, 0, 0, 400 / 404.4 * 100);
    g.background(0);
    g.textFont(font);
    g.textSize(400 / 404.4 * 100);
    g.fill(255);
    g.text(str, 2, -bound.y + 5);
    ortho(-width / 2, width / 2, -height / 2, height / 2, -5000, 5000);
  }

  function draw() {
    background(255, 100);
    gg.image(g, frameCount % g.width, 0);
    gg.image(g, -g.width + frameCount % g.width, 0);
    orbitControl();

    rotateY(radians(-45));
    // rotateX(radians(45));
    push();
    texture(gg);
    noStroke();
    cylinder(d * sqrt(2) / 2, d, 4 + 1, 1, false, false);
    pop();

    push();
    scale(0.99);
    rotateY(radians(45));
    rotateX(radians(270));
    rotateY(radians(-45));
    texture(gg);
    noStroke();
    cylinder(d * sqrt(2) / 2, d, 4 + 1, 1, false, false);
    pop();
  }
</script>