---
import "../styles/normalize.css";

import Head from "../components/Head.astro";
---

<html lang="en">
  <Head title="Contact" />
  <body>
    <main id="terminal">
      <pre>{`











             ▓▓▓        ▒▓▓                            ░▓▓                 
             ███        ▓██                       ██░  ▒██   ██░           
             ███        ▓██                       ██░        ██░           
             ███    ░▒░ ▓██     ▒▒         ▒▒     ██░        ██░           
             ███   ▓████▓██   ▓████▓   ██░████▓ ░█████░▒██ ██████▒██   ░██░
             ███  ▓██▒▒▓███  ▓██▒▒██▓  ███▒▒███░░▒██▓▒░▒██ ▒▒██▒▒░██▒  ▓██ 
             ███  ██▒   ███ ░██   ░██░ ██▓   ██▒  ██░  ▒██   ██░  ▓██  ▓█▒ 
             ███  ██░   ▒██ ▓██▒▒▒▒██▒ ██▒   ██▒  ██░  ▒██   ██░  ░██  ██░ 
             ███  ██░   ▒██ ▓████████▒ ██░   ██▒  ██░  ▒██   ██░   ██░▒█▓  
             ███  ██░   ▓██ ▒██        ██░   ██▒  ██░  ▒██   ██░   ▓████▒  
             ███  ██▓  ░███ ░██░  ░██░ ██░   ██▒  ██▒  ▒██   ██░   ░████                                                                            ░ ░░                                               
             ███  ▒███▓████  ▓██████▒  ██░   ██▒  ████ ▒██   ████   ███▓                                                                           ▒▒░▒  ░ ░       ░                                   
             ███   ▒███▓░██   ▒████▒   ██░   ██▒  ░███ ▒██   ░███   ▒██░                                                                           ░▓░▒░░░ ░▒░░░░  ░                                   
                                                                    ▓██                                                                        ░  ▒░▒░▒ ▒░ ▒▒▒▒░▓ ░▒ ░░░                               
                                                                  ▓███▒                                                                           ▒▒▒▓▒░░░▓▒▒▓▒░▒░░▒░▓▒                                
                                                                  ▓███▒                                                                     ░ ░░▒▒░ ▓▓▓▓▒▒ ░▓▒▓▒▒▓▒░▒                                  
                                                                                                                                             ░░▒▓▓▒▒▓▒▒▓░░▒▒▓▓▒▓▓▓▒▒░░░░                               
             `}<span class="glitch">My name is preferably rendered as Sanalog.</span>{`                                                                                      ░▒▓▓▓░░▓▒▒▒░░▒▒▒▒▓▓▓▒░░░░░░░░░   ░ ░       ░     ░        
                                                                                                                                            ░▒▒░▓░▒░▒ ░ ▒░░▒▒▒░▓▓▓▓▓▒░░  ▒░░  ░ ▒    ░  ░░ ░ ░  ░      
                                                                                                                                            ░░▒░░░▒▒░░▒░▒ ░░▒░ ░    ░░░▒░▓▒░▒▒▒░░ ░░   ░░░░ ▒ ░       
             `}<span class="glitch">This page lists some services I use. It is not a request to</span>{`                                                                      ░▒▒▓▒▒▒░░▓▒▓░▒▒░ ░    ░ ░ ░▒▒░▒▒▓▓▓░▒ ░  ░▒░▒▒▒░░░ ░     
                                                                                                                                            ░░░░▒▓▓░▒▓ ▓▓▒▓▒░░░░   ░ ▒  ░▒▒▒▒▒▓▓▒░░░░░░░▒▒░▒▓  ░ ░     
             `}<span class="glitch">follow or otherwise connect to me. The list is non-exhaustive.</span>{`                                                                   ░▒░▒▒░ ▒▓▓▒▓▒▒▒▒░  ░░▒▒░  ░▒ ░▒▒▓▒▒▒░░  ▒ ░░▓▒▒░░░       
                                                                                                                                           ░░░ ░ ░ ░▒░▒▓▒▒▒▒▒ ░░▒▓▓░    ░▒▒░░ ░░▒ ░░ ░▒░  ▓▒▒░▒ ░░░   ░
                                                                                                                                            ░▒░▓▒▒░  ▒▓▓▒░▓░   ░▒▒▒▒▒░   ░░░ ▒░░ ▒ ▒▒▓▒▒ ▒▒ ░ ░▒░░▒▒▒▒░
             `}<span class="glitch">If you find me on other services, I don't use them enough to</span>{`                                                 ░ ░       ▒     ▒░▒░▓▓▓▒▓▓▓▒▓▓▓▒░   ░░▒▒░ ░ ░ ░░ ░▒▓▒▒░░░░▓▓▓░▒▒░▒▒▒▒▓ ░▒▓▓░░
                                                                                                                        ░░ ░░           ░░▒▒▒▓▓▓▓▓▓▒░░░▒▒▒▓░ ░░░  ░░░░░░░  ▒▒▒░░░▒▒▒▓▒▓▒▓▒▓▓▓▓░░ ▒▒▓░ ░
             `}<span class="glitch">warrant an entry-but you're welcome to interact with it, creep.</span>{`                                              ▒░▒▒░▒░   ░░ ░▓░▒▒▓░▓▓▒▓▓▒▒▒░▒ ▓█  ░▒ ░      ░░ ▒░▒░▒▒░  ▓▓░░░░▓▓▓▒░░░ ░▒▒▒▒ 
                                                                                                                        ░▒░▒▓▓▓░░░░▒  ░▓▓▒▓▓▓░▓▒▓▓▒▒░░░▒ ▓█▒▒░      ░  ░░░▒▒▓▒░▓░ ▒░░░░░░▒▒░▒ ▒▓▒░▒▒░ ░
                                                                                                              ░         ░▒▒▒▓▒░░░  ▒░░░▓▓▒▓▒▒▒▒▓▒░░░█▒░▒ ▓█▒      ░ ░  ░▒▒░▒   ▒▓▓▒▒░▒▒░▓▒░▒░ ░▓▒░▒  ░ 
             `}<span class="glitch">You can </span><a href="mailto:me@sanalog.net" class="box">[email: me (at) sanalog.net]</a>.{`                                                         ░▒▒  ░░     ░░▓▓▓▒▓░  ░▒▓▓▓▓▒▓░▓▓▓░░▒░  ▓▓▒▒ ▓▓░  ░░   ▒▒░ ▒▓▒▒  ░░░█▓░░░▒░▒▓█▒▒░▒▒▒▓░ ░ ░▒
                                                                                                         ░ ░░▒▓░░ ░  ░░ ░▒▒░▒ ▓▒▒▒░▓▓▒▓▒░▓░▒█▓▓▒░▒▒░░▓▓▓▓██░     ░▒▓▓▒▒▒▓▒░░▒  ░▓█▒▒▒░▒▒▒▒▓▓▒░░▒ ▒ ░ ░▒
                                                                                                       ░ ▒░▒▒▒▓▒░░░ ░░▒▒▒▓  ▒░▓░░░▓▓▓░░▒▒▓▓▓▓▒▒▓▓█▓▓▒▒▒░▒▓▓░  ░░░░░▒▓█▒▓▓▒░ ░ ░░▒▓▒░░▒░▓░▒░░▒░░▒▓░░▒░▓▒
             `}<span class="glitch">For a faster reply, message me on Discord.</span>{`                                               ▒▒ ░░░░░▒░░  ░▒▓▓░░▓▒ ▒▒▒░▒▓▓▒▓▒░▒▒░▓▓▓▒▓▓█▓▓▒░   ░▓▓░     ░▒▒▒▒▓▓▒       ▒▓▒ ░▓ ▓    ▓███▓▒▓▓▒█░
                                                                                                      ░▓▓░░░░▒▒▒▒▒▒▒▓▓▒░▓▒░▒▒▓▓▓▓▒░▒░▒▒▓▒▒▒▒▒▒░ ▒▓░ ░▒▒░▒▓▓   ░ ▒░░░ ░░░▓█▓░░   ▒█▓▒████▓▓▓███▓▓  ▒▓▓░▒
             `}<span class="glitch">For secure messages, my GPG key is below.</span>{`                                                ░▒░░░░▒░▒░░ ░░░▓▒▒▒▓▒▒▓▓░▓▓░▒▒▓▓▓▓░░ ░░    ▓▓░   ░▓▓▓   ░ ░  ▒▒▒▒ ░▓▒▓▓▓░░▓▓█░░▓▓█▓▓▓▓▒▓░  ░ ░░▒▓
                                                                                                       ▒▒░░ ▒ ▒▒░░▒░░░░░░▒░▒▒▓░▓▒░▓▒▒░▒▓░░▒▒  ░░▒▓▓▓░  ▒▓▓░    ░░ ░▒▒▒▓░░▒  ░██▓███▓ ▒▓▓▒ ▒░ ░░ ░▒     
                                                                                                      ░░░ ▒▒▒░▒░ ▒▓▓░  ▒▒▒ ▒▒▒▒▓▓▒▒░    ▒▓▓▓▓▓▓▓▒▒░▓▓▓▒█▓▓   ░ ░░ ░ ▒  ▒▒ ▒░▒▒░▓███▓░▒██▒ ░ ░░ ░▒      
                                                                                                        ░▒░░ ▒▒░░░  ░░ ░░▓▒▒▒▓▓▒▒▒░▒    ▒▒          ░▒▓▓▓▒░ ░▒    ░░░  ▓▒░▒▒░  ▒▓██▓▒▒██▓ ▒▒▒          
                                                                                                        ░░ ░░▒▓░ ░     ▒▓▓░  ░░ ▒░ ░░  ░░             ▓████▓▓▓▒▒▒▒▒▓▓▒▓█▒  ░░░░▓███▒▓▓█▓▓░▓▓▒░         
                                                                                                              ▒░ ░░    ░░▓░     ░░  ▒▒▓▓              ░▒▓█████████████████▒▒░▒▓████░███▒░▓▓░ ░         
                                                                                                                           ░░   ░▒  ▒░░                   ▒▒▓▓▒▒▒▒▓▓█▓▓████▓░░█████▓███▒▓▓░░░▓░░       
                                                                                                                 ░    ░          ░                         ░░░░░░░ ░▓░░░░░▓█▓████████▓▓▓▓▒▒▒░▒░▒ ░     
                                                                                                                                                       ░░  ░  ░░░░▒▓░▓▓▒░  ▒██████░▒█▓▒███▓░░▒░░░      
                                                                                                                                                          ░░░▒░░▒▒▒   ░░▒▒░░▒▓▓▓▓█▒▓▓▒▓▒▒▓█▒░▒▒▒░░     
                                                                                                                                                            ░░▒▓▒▒        ▒▒    ▒████▓█▓▒░▒░▓▒▒▓░▒░    
                                                                                                                                                         ░░▓▓▓▓▒ ░         ▒░  ▒▓▓█████▓▒▓▓▒░▓░░░░     
                                                                                                                                                          ░▓▓░  ░          ░▒  ░ ░░▓▓▒░▒▓▓░▓▓░  ░ ░    
                                                                                                                                                        ░  ░░ ░ ░          ▒▓  ░░░░ ░▒▒░▒▓▓░▒▓  ░      
                                                                                                                                                      ░   ░ ░░ ░  ░       ░▓▒  ░▓██▓ ░░▒  ▒░░▒▓▒       
                                                                                                                                                         ░  ░             ▓▓▓▒▒░  ░░   ░  ░░ ▒▓▒░      
                                                                                                                                                        ░  ░     ░  ▒ ▒ ░░░▒▓▓▓▓▓▒░░░       ░ ▒█▒      
                                                                                                                                                           ░      ░ ▒░▒░▒▒░░▒░▒▒▒░▒▓▓▓░     ▒░▒█▒     ░
                                                                                                                                                               ░▒ ░  ▒▒▒░░▓▒▒▒▓▒  ▒▓▓▒▓   ░▒▓▓▓▓█      
                                                                                                                                              ░  ░  ░░    ░   ░  ▒░▒░▓▓░░▒▒▒▓▓▓▓░░▓░▓▓▒  ▒▓▓▓▓▓▓█▒   ░░
                                                                                                                                            ░░   ░░░▒░  ░ ▒  ░░▒▒░░▒▓▓▓░░░░▒▒▓▓▓▒░▓░█▓░ ░█▓▒▓▓▓▓██▒  ░ 
                                                                                                                                              ░░ ░▓▒░░▒░░ ░ ▒▒ ░░▓▒░▓▓▒ ▒ ░░░▒▓▓▒▒▓░▓▒▒  ▓▓▒▓▓█████▓▒░░
                                                                                                                                                ░▒▓▒░░░░░░ ░░▒▒░░░▒▓▒░░░░░▒░▒▒░░ ▒▓░█▓▒  ▒▓▓▓▓▓███▓▓▓▓▓
                                                                                                                                            ░ ░░▒▓▓▒▒▒▒ ▒▒▒▓▒░░ ░░▒▒░▒▒▒▒░▒░░▒▒▓▓▓▓░█▓▓░ ░█▓██▓██▓▓▒▓▓▓
                                                                                                                                             ░▓▓▓▒▓▒ ▒▒▒▒░▓▓░  ░░░░░▒▓▓░░░▒▒▓▒     ░█▓▓▓░░███████    ░░
                                                                                                                                           ░░▒░░▓▓▓▒▓▓▒░▓▓▓▒░░░  ░░  ░▒░ ▒░░░░░    ▓█▓▒▓░ █▓▓█▓▓░      
                                                                                                                                           ▒░░░░▓▓▒░▓▓░▒▓▓▓▒░░░  ▒▒░░ ▒░░▓▒▒░░ ░░ ░█▓▓▓▒░ ▒▓██▓░       
                                                                                                                                           ░▒░▒▒▓▓▒▒▓░ ░▓▓▒▓▓▒   ░▒░▒  ▓░▓▓▒░░░░  ░▓▓▒▓    ▓▓▓▓░       
                                                                                                                                         ░ ░▒▒▓▒▒█▓▓▒░ ░▓▒▒░░▓▓▒░   ▒▒ ▒▓▓▒▒▒░░   ░▓█▓▓    ░▓▓▓▓       
                                                                                                                                       ░ ░▒░▓▓▓▓▓▓▓▓▒▒░░▒▒░░▒░░▒░▒░ ▒▒▒ ▓▓▒▒▒▒░   ░▓█▓▒░    ░▒▒░       
                                                                                                                                       ░░░▓░▓▓█▓▓░▓▒▒░▒░▒▓ ▒░░░░▒ ▒░▒▒▒▒░▒█▓░▓░▒░ ▓▓▓▓░░  ▒▒▓▒░        
                                                                                                                                        ░▒▓▒▓░▓░▒▒▓▓▒▒▒▒▓▒▓▒▒░▒▒░░░▒▒▓▓▓░ ░▓▓ ▒░░▓▓▒▒▒    ▒▓▓▒         
                                                                                                                                       ░ ░▓▓░ ▓░▒░▒▒▓▓▒▓▓▓▓▒▓▒▒░░░░ ▓▒░ ░ ░▒▓  ░▓▒░▒▒░   ▒▓▓▓▓         
                                                                                                                                       ░▒▒▓▓░ ▒░▒░▓▓▓▓▓▓▒▓▒▒▓░▒░░▒░▒▒▒▒  ░▒░▓ ▒▒░░▒▓░     ░▒▒▓         
                                                           ░  ░ ░                                                                      ░ ▓█▒▒░▓▒░▒░ ░▓▓▓▒▒▒▒▓░▒░▒▒░ ▒▒░▒ ░░░▒▒▒░▒▓▒    ░  ░▓▓▓         
                                                        ▒░ ░ ░▒ ░                                                                       ░▒▒▒▒▓▓▓▓░░░▓▒▒▓░░░▒▒▒▒▒▒░░░▓▒ ░░▒ ░▓▒▓▓▒ ░▒▓▓ ░   ░▓▓░        
                                                      ░▒ ▒   ░░▒░▒▒                                                                ░░   ░▓▓▓▒▓▓█▓▓░░▓▓▓░▒▒▒▒▒▒░░░▒▒░▒▒ ▒▒▓  ▓▒▒▓  ▓██▒ ▒   ░▓▒         
                                                    ░  ░▒░▒  ░▒▒▒░ ░░░                                                               ░░░░▒▓▓▓▓▓░▒▓▒░░▒▓▓▒░░▒▒░░░░▒░░▒▓▒     ▒▓▒▓ ░██▓  ░  ░▓▒░         
                                                     ░░░░░▒░ ▒▓▓▒▒▒░                                                               ░░░▒▒▒▒▓▒▒▒▒▓▒▒░░░▓▓▓▒░  ░ ░  ░░░░▒▓░░░░ ░▓▒▓ ░░░    ░▓▓▓▒          
                                                  ░  ░ ▒▒▒░  ▒▓▓▓▒▒▒▒▒░                                                    ░    ░ ░▒░░▒░░▒░▒▒░▒░ ▒░ ░░░░   ░▒ ░   ░░ ▒▓▒░░▒░ ░▓░ ░     ▒▓▓▓▓           
                                                 ░▒ ░▒░▒ ░▓  ▒░▒░▒▒▒░                      ░                                ░░░  ░   ░▒▒▒░ ▒░▒ ░▒▒░▒▒▒▒▒▒░▒▓░ ░    ░▒▓▓▒▒▓▓▓░    ░░▒░░▓▓▓▓▓▒           
                                           ░   ░▒▒   ▒▒      ░░▒▒▒░░▒░░░                ░ ░░                               ░░░░░░ ░  ▒░░▒▒▒▒▒░░░▒▒▒░░░░░ ░ ░░░▒     ▒▓▓▒ ▒▓▓▒    ░▒░▒▒▒▒░▒▒░           
                                       ░░ ░░▒  ▒▒░   ░        ░▒░▒ ░▒░▒▒             ░░░▒░▒░░░ ░                           ░░▒▒░ ▒░▒▒ ░▒▒░░░▒▒▒▒▒▒▒▒▒░▒░ ░░▒▒▒░      ▒▓▓░░▒▓░░     ▒▒▓▒░ ░▓░           
                                         ░▒▒▒░ ▓▒   ▒▓▒▒░    ▓▒▒░▒▒▒░ ▒  ▒  ░░ ░░ ░░░░▒▒▒▒░▓░░░▒ ▒                      ░▒▒░▒▓▓▓▒  ░ ▒▒▓▓▓▒▒▒▓▒▒▒▓░   ▒               ▒▓▓▒▒▓▒    ▒░░▒▓▒▒░░▓            
                                      ░░░  ░▒  ░░░  ▒▓▒  ░░▒▓█▓▓▓▓▒▒░▒░░▒  ░▒▒ ░▒ ▒░░▓▓▒▓▓▒▒▓▒▓░▒░                      ░▒▒▓▓▓▓░  ░▒▓▓▓▒ ░ ░   ░░     ░                ▓▓░▒▒▒    ░░▒▒▓▓▒▓▒▓            
                                       ░ ░▒▒▓▒        ▒ ▒▓▓▒▒▒▒░▒▒▒▓▒░▒▒░▒▒▒▒░▒▒▒ ▒ ▒▒▒▓▓▓▒▒▓▓▓▒▒░░                      ░░▒▓░   ░▒▒▓▓▒  ░░░        ░░░                ▓▓░▒▒▒▒    ░▓▒▓▓▓▓▒█▒           
                                      ░▒▒░▒▒░         ▒░░▒▓░░▒░▒░▒▒▒▒█▓▒ ▒ ░▒ ▓▒▒▒▓░▒░▓▓▒▒▓▓▓▓▒▓▓▒░                     ▒      ░▒▒▒▓▓░░  ░▓░  ░ ░                     ░▓▓ ▒▓▒░░  ░▒▓▓▓▓▓▓▒▒▓▓▓▒▒░      
                                     ░  ░▒░        ░░░░▒▓▒░   ▒░▒▒▒▒▓▓▒▒▒▒▒▒▓░▓▓▓▒▓▓▓▓▒▒▒▒▒▒▓▓▓▓▒░                     ░▒     ░▒▒▒▒▒   ░ ░▓░  ▒░▒░▒                   ░▓▒ ▒▒░▒▒  ░ ▒▒░▒▓▓▓▓▓▓▓▓▓▓▒░    
                                       ░░░ ░▒▓▒  ░░▒           ░░░░▒▓▒░▒▒░░▒▒▒▒▓▒▓▓▓▓▓▒▒▒▓▓▓░░▓▒▒░░                 ░▒▒▓▓▒  ░▒▒▒▒▒░    ░▒▒▓░  ▒░▓▒░   ▒               ▒▓▒ ▒▒       ░░▒ ░░░░░░▒▓▓▓▓▓░   
                                      ░░ ░▒▒▓▓  ░▒░           ░░░░  ▒▒▓░ ░▓▓▓▒▒▓▒▒░░▒░▒▓▓▓▓▓▒▒▒▒░ ▒░                ░ ▒▓▓░ ░▒▒▒▒▒ ░░░░░░▒▓▓░░░▒▒▒▒▓▒░░▒               ▓█▓  ▒▓▓       ▒▓ ░░   ░░▒▓▓▓▓▒  
                                         ░░░░  ▒░          ░   ░░ ░▒▒░░▒▓▒░▒▓▓▒▒▒▒▓▓▓▒▒▒░▒▓▓▒░░ ░▒░                 ░▒▓▓▓  ░▒▒▒▒       ░░  ░▒▓▓▒░░ ░▒▒                ▓█▓  ▒▓▓      ░  ░▓▒░░░   ▓▓▓▓▓░ 
                                        ░░ ░░░░           ░░    ░  ░    ░░░▒▒▒▓▓▒░░░▒▒▒▒▒░░░░░░░░               ░░    ▒▒░  ▒░░▒░     ░░   ▒░░▒▓▒▓░░▒░                 ▓█▓▒  ░▓░ ▓░             ░▒▓▓▓▓▒░
                                       ░  ░        ░░    ░░░░░   ▒▒            ▒▒░▒▓▓░▒▒░▒▓  ░▒░            ▒▓░ ░▓▓▓▓▓▓▓▓▓▒▓▒▒░        ▒░ ░▒░░▓▓▓  ░                   ▓▓▓▓░ ░  ░▒              ░▓▓▒▒▓▒
                                              ░     ░░▒▒░░▒▒▓▒░░ ▒░             ░▒░░░▒░░▓▒░                  ▒▓▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓          ░░  ▒▒▒▒▒  ░                    ▓▓▓▓▒                    ░▓▓▒▒▒
                                              ░ ░  ░░░▒▒▒▓▒▒▒▓█▓░░▓░  ░          ░▒▒░░▒▒░░                 ░▒▒░░     ░▓▓▓▓▓▓▓░             ░▒▒░░░░░▒                    ▓▓███▓▓░  ░▒▒▒▓▓▒▒▒░       ░░░▒
                                           ░  ░ ░ ▒▓░░▓░░▓░░   ▒▓▒░▒  ░░░ ▒░          ░░ ░               ▒▒▒         ▒▓▓▓▓▒▒▒           ░░░░▓▓▒   ▒▒                     ▒▓███▓▓▒░▓▓█▓░░░░▓▒░      ░░  
                                            ░░░ ░▒▓▒▒░▒░▒▓░▓▒▒▒▒░▒▓▓       ░             ▒             ▒▒▒░         ▒▓▓▓▒▒░░            ░░▒▒░▓▒▒▒▒░                       ░░  ▒▓▓█▓▒░▓▓▒▓░▓▓░░░       ░
                                          ░  ░▒▒░▒▓▒▓ ▒▒▓▒▓▒▓▓░   ░▓▒         ░░                     ░▒▒░ ░░░░    ░▒▓▓▓▓░░░              ░  ░░                                 ░▒▒░    ░▒▓▓▒▓▒░       ░
                                        ░░▒░░▒▒▒▓▒░▓▒▒▒▓▒▒▒▒░▒▓▓░░ ░▓▓░       ░░░░         ░░       ▒▓▓▓▒▓▓▓▓▓▓▒▒▒▓▓▓▓▓▓▒░                                                                ▓▒▒░▒▒   ░  ▓
                                      ░   ▒▒░▓▓▓▒▓▓▓▓▓▒▓▓▒▒▒▓▒▒▒▒    ░▓░         ░▓▒░▓▓▓▓▒░▒▒░    ░▓▒▒▓███▓▓▓▓▓▓▓▓▓▓▒▒▒▓▒                                                                  ░░▒░░▒▓▒  ▒█
                                       ▒░░▒▒▒▓▓▓▒▓▒▓▓█▓▓▓▒▓▓▓▓▓▓▓░    ░▒░            ▓▓█▓▓▒▒░░░▒▒▓▓▓▓▓▓▓███▓▓▓▓▓░░░░░░░░                                                                    ░▒░░▓▓░ ▒██
                                    ░░░▒▓░▒▒▓▓▓▓▒▓▓▓▓█▒▓▓█▓▓▓▓▓▓▒       ▒▒░ ░       ▒▓▓▓█▓░░░░░▓▓▓▒▒▒▓▓▓▓▓▓▓▓▓▓▒                                                                              ▒ ░▒░▓███
                                    ░░▒▓░▓▓▓▓▓░▓▒▓░▒▓▓▒▓▓▓▒▓▒▓▓█▓▓░      ▓▒    ▒ ░▒░▒▒▒▓█▓░ ░░▒▓▒   ░▒▒▒░▓░                                                                                   ░░  ░▓██▓
                                   ░░▓▒▒▓▓▓▒▒▒▒▒▓▓░▒▓▓▒▓▓▒▓▒▒▒░░▒▓█▒░░   ▒▓▒░ ░░▒▒▒▒▒▒▒▒▓   ░▒▒░       ░                                                                                       ░░░▒▓██▓
                                    ░░▒░▒░░░▒▓▒▓▓▓▓▓▓▓▓▓▓▓▒▓▒░░ ▒██▒░░ ░ ░▒█▓░░░░▒░░░░░░   ░▒░                                                                                                   ░░▒▓▓▓
                                 ░   ░▓░▒░▒▒░▒▓▓██▓▓▒█▓▓█▒▓▒▓░ ░██▓░░░░▒   ░▒▒      ░     ▒▓░                                                                                                       ▒▓▓
                                   ░░░▒▓▓▒░▒▒▓▒▒█▓▓▓▒░▓▓▒▓▓▓░▒▓█▓▒░░░▒░▒▒▒              ▒▒▒░                                                                                                        ░▓▓
                                   ░▒▒▒▓▓▓▒▒▒▒▒▒▒▒▓▓▒▒▓▓▓▒▒▒▓▓█▓░░░░░░░░▓▒ ░           ░▒░                                                                                                            ▓
                                  ░░░▒░▒▓▓▒░▒▓▒▓▓▓▒▒░▒▓▒▒▒▓█▓▒ ░▒▓▒▒▒▓▒░▓░░▒         ░░                                                                                                                
                                   ░▒░░▒░░▒▒▒▒▓▓▓▓▓▓▓▒▓▓▓▒▒░░░░  ░▒░▒▓▓▓▓░░▒ ░     ░▒░                                                                                                                 
                                    ░▒▒░▒▒▒▒▓▒▒▒░░         ░░▒▒▒░▒░░░░░▒▓▓▒▒     ░░░                                                                                                                   
                                    ░░  ▓▓▓▒░▒░               ░▒░ ▒▒▒▒░░▒░▒▓▒▓▒░░                                                                                                                      








                                    
                                    ▓▓░      ░▓▓            ▓▓░                                         `}<a href="https://github.com/itsSanalog" target="_blank" class="">GitHub   //  itsSanalog</a>{`
                                    ██▒      ▒█▓            ██░               
                                    ██▒                     ██░                                         
                                    ██▒      ░▒▒  ▒▒░▒▒▒▒   ██░ ░▒▒░  ▒▒▒▒▒░                            `}<a href="https://discord.com/channels/@me/258172826039746561" target="_blank" class="">Discord  //  sanalog</a>{`
                                    ██▒      ▒██  ██▓▓▓██▒  ██░░▓█▓░ ▒█▓▒▓█▓░ 
                                    ██▒      ▒██  ██▓░░▓█▓  ██▒▓█▓░  ██▓   ▒░ 
                                    ██▒      ▒██  ██░  ▒██  ██▓██░   ▓█▓▒▒▒                             `}<a href="https://twitter.com/sanalog_" target="_blank" class="">Twitter  //  @sanalog_</a>{`
                                    ██▒      ▒██  ██░  ▒██  █████▒   ░▒████▒░ 
                                    ██▒      ▒██  ██░  ▒██  ██▓▒██░    ░▒▒██▓ 
                                    ██▓▒▒▒▒▒ ▒██  ██░  ▒██  ██░ ▓█▓  ▓▓   ▓█▓                           `}<a href="https://reddit.com/u/Sanalog" target="_blank" class="">Reddit   //  u/Sanalog</a>{`
                                    ████████ ▒██  ██░  ▒██  ██░ ░██▒ ▓█▓▓▓██▒ 
                                    ▓▓▓▓▓▓▓▓ ░▓▓  ▓▓░  ░▓▓  ▓▓░  ▒▓▓  ▒▓██▓▒  
                                                                                                        `}<a href="https://last.fm/user/SanaBeats" target="_blank" class="">Last.fm  //  SanaBeats</a>{`
                                    





                                                                                                        




                                    `}<a href="https://minecraft.net/" target="_blank" class="">Minecraft  //  Sanalog</a>{`                                              I do not use:


                                    `}<a href="https://pokemonshowdown.com/users/sanalog" target="_blank" class="">Showdown   //  Sanalog</a>{`                                              Pinterest, Behance, Awwards


                                    `}<a href="https://ch.tetr.io/u/sanalog" target="_blank" class="">Tetr.io    //  Sanalog</a>{`                                              I am instead on: `}<a href="https://webring.xxiivv.com/" target="_blank" class="">the XXIIVV webring</a>{`





























                                                 ░▒▒▒▒     ░▒▒▒▒▒░        ▒▒▒▒░      
                                                ▒██████░   ▓███████▓    ▒██████▒     
                                               ▓███▒▓███░  ▓██▓▓▓███▓  ░███▓▒███▒    
                                              ░██▓   ░██▓  ▓██    ▓██  ███    ▓██    
                                              ▓██     ▒▒▒  ▓██    ▒██ ░██░    ░▒▒░   
                                              ██▓          ▓██    ▓██ ▓██            
                                              ██▓   ▓▓▓▓▓░ ▓██▓▓▓▓██▓ ███   ▒▓▓▓▓▒   
                                              ██▓   █████░ ▓███████▓  ▓██   ▓████▒   
                                              ███   ░░░██░ ▓██▒▒▒░░   ▒██    ░░██▒   
                                              ▒██░    ▓██░ ▓██        ░██▓    ░██▒   
                                               ███▒░░▒███░ ▓██         ▓██▓▒░▒███▒   
                                               ░█████████░ ▓██          ▓██████▓█▒   
                                                 ▒▓██▓ ▒▓░ ▒▓▓           ▒▓██▓░ ▓░  
                                                 
                                                                                                                                                                  ░░                                   
                                                                                                                                                               ░░░ ░                                   
                                                                                                                                                             ░░ ░ ░░    ░░                             
                                                                                                                                                          ░░ ░░░  ░░ ░░░░░                             
                                                                                                                                                        ░░░░░     ░ ░   ░                              
                                                                                                                                                     ░░░░░░░░░ ░░░ ░   ░░░                             
                                                                                                                                                    ░░░░░░░     ░░░    ░                               
                                                                                                                                                 ░░░░▒░░░░ ░ ░ ░░░    ░░                               
                                                                                                                                                ░░░░░░░     ░░▒                                        
                                                                                                                                               ░░▒░░░░ ░ ░ ░▒░     ░ ░                                 
                                              `}<span class="glitch">CAEA 9364 907B 8B74 EC81 C17F 4B18 676D 8547 6C80</span>{`                                              ░▒▒▒░░ ░ ░ ░░▒▒░       ░           ░                      
                                                                                                                                           ░░▒▒░░░░░ ░░░▒▓░    ░ ░░░         ░░░░░                     
                                                                                                                                        ░░░▒▓░░░░ ░ ░ ░▓▒      ░░░░        ░░░▒░░ ░                                                                 
                                                                                                                                       ░░▒▓▒░░░░░░ ░░▓▒░     ░░░        ░░░▒░░ ░ ░░                    
                                                                                                                                     ░░░▓▒░░░░░ ░ ░▒▓░      ░░░       ░░░▒░ ░ ░  ░░                    
                                                                                                                                    ░░▒▓▒░░░░░░░░▒█░     ░░░░      ░░░▒▒░░ ░ ░  ░░                     
                                                                                                                                  ░░░▓▓░░░░░░ ░░▓▒░     ░░░     ░ ░▒▒░░ ░ ░ ░   ░                      
                                                                                                                                 ░░▒▓▓░░░░░░░░▒▓▒      ░░░     ░░▒▒░ ░ ░ ░ ░  ░░                       
                                                                                                                                ░░▓▓▒░░░░ ░ ░▓▒      ░░░    ░░▒▓▒ ░ ░ ░      ░░                        
                                                                                                                             ░ ░▒▓▓▒░░░░░░░▒▓░     ░░░░  ░░▒▒▒░░ ░ ░ ░ ░ ░ ░░░                         
                                                                                                                            ░ ░▒▓▒▒░░░░ ░░▓▒░     ░░░ ░░▒▒▒▒░   ░         ░                            
                                                                                                                           ░░░▓▓▒▒░░░░ ░▒█▒      ░░░ ░▒▓▒░░░ ░ ░ ░ ░   ░ ░                 ░ ░░        
                                              `}<a href="https://sanalog.net/sanalog.asc" class="">Download</a>  |  <a href="https://github.com/itsSanalog.gpg" target="_blank" class="">GitHub</a>{`                                                         ░░░▓▓▒▒░░░░ ░▒▓░     ░░░░░▓▓▒░░░░             ░                   ░░         
                                                                                                                         ░░▒▓▒▒▒░░░░ ▒▓▒░    ░░░░▒▓▓▒░░░░░░░ ░ ░ ░   ░░░         ░░░ ░░░░▒░░ ░░        
                                                                                                                        ░░▒▒▒▒░░░░░ ▒▓▒     ░░░▒▓▓▒░░░░░░           ░         ░░░ ░▒▒░  ░    ░         
                                                                                                                       ░░▒▒▒▒░░░░░░▓▓░     ░░▒▓▓░░░░░░░░░░ ░   ░ ░░░   ░    ░░░▒░░░░░░ ░   ░░          
                                                                                                                      ░▒▒▒▒░░░░░░ ▒▒░     ░▒▓▒▒░░░░░░░░ ░       ░░░ ░ ░░▒░░░▒░░ ░ ░ ░ ░   ░            
                                                                               ▒                                     ░▓▓▒▒▒░░░ ░░░     ░░▒▓▓░▒░░░░░░ ░░░ ░   ░░░░░░▒▒▓▓▒░░░░░░░░░░ ░ ░ ░ ░             
                                                                                ▓                                   ░▓▓▒▒▒▒░  ▒▓▓░    ░▒▒░▒▒▒░░░░░░ ░      ░░░▒▒▓▓▓▒░░░░░░░░░ ░ ░      ░░              
                                                                                ▒▒                                 ░▓▓▒▒▒▒░░▒▓▓▓░░  ░░░░░░░▒▒▒▒░░░░░    ░░▒▓▓▓▒▓▒░░░░░░░░░░░░░ ░ ░ ░ ░ ░               
                                                                                 ▓▒                               ░▒▓▒▒▒▒░░▓▓▓▒░░░░░▒░▒░░ ░░▒▒░░░░░ ░░▒▒▓▓▓▒▒░░░░░░░░░░░░░░       ░░░                  
                                                                                 ░▒░                              ▒▓▒▒▒▒▒▓▓▓▒▒░▒▒▒▒▒░░░░ ░   ░▒▓▓▓▓▓▓▓▒▒░▒░░░▒░░░░░░░░░░░░░░ ░ ░░░           ░         
                                                                                  ░▒░                             ▓▓▒▒▒▒▒▒▓▒▒░▒▒▒░░░░ ░░░ ░ ░░░▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░░░░ ░   ░                        
                                                                                  ░░▒                            ▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▓▒▒▒▒▒░░░▒▒▒▒▒▒░░░░░░░░░░░░ ░ ░         ░   ░ ░ ░░░ ░ ░ ░       
                                                                                  ░░░░                          ░▒▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▒▒▒░░░░░░▒░░░░░░░░░░░░░░   ░░░░░░░▒▒▒▓▓▓▓▓▒▒░▒░░░░░▒░    ░    
                                                                                   ░░░░                         ░▓▒▓▓▒▒▒▒▒▒▒▒▒░░░▒▒▒▒▒▒▒▒▒░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▒▓▒▓▒▒▒▒▒▒░░░░ ░ ░ ░ ░ ░   ░     
                                                                                   ░░▒                         ░▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▓▒▓▒▓▒▒▒▒▒▒░░ ░▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒░▒▒▒░░░░░░░░   ░ ░     ░      
                                                                                    ░░░░                       ░▒▓▒▒░▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒░░░▒▒▒░▒░▒▒▒▒▒░░▒▒▒▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒░▒░░░░░░░░░░░░ ░ ░ ░ ░   ░       
                                                                                    ░▒░░                      ░▒▓▒▒░░░▒▒▓▓▓▓▒▒▒▒▒░▒░▒▒▒░░░░░░░░░░░░░▒░░▒▒░▒▒▒▒▒░░░░░░░░░░░░░░░░ ░ ░                    
                                                                                     ▒░░░░                   ░▒▒▒▓▒░░▒▒▒▒▒▒▒░░░░░░░░░░░▒░▒▒▒▒░░    ▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░░░░░ ░░░ ░ ░ ░ ░░          
                                                                                     ░▓ ░░                  ░▒▒▒▓▒▒░▒▒▒▒▓▓▓▓█▓▓▓▒░░░░░░░░░░░░░░░░ ░░▒▒▒▓▓▓▓▓▓▓▓▒▓▒▒▒▒▒▒░░░░░░░░░░                      
                                                                                     ░▒░░░░               ░▒▒▓▓▓▒▒░░░▓▓▓▓▓▒▒▓▓▓▓▓▓▓▓▒▒░░░░░░░░░░ ░░░░░░▒▒▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒░░░░░░░░                     
                                                                                      ░▒ ░░░            ░▒▓▒▒▒▓▒░░░ ░░▒▒▓▓▓▒▒▒▒▓▓▓█▓███░░ ░░░░░  ░▒▒░░░░░▒▓▓▓▓▓▓▓▒▓▒▓▒▒░▒░▒░░░░  ░                     
                                                                                       ▒░ ░░          ░▒▒▒▒░▒▒▒▒▒░░▒▒▒▒▒▒▓▓▓▓▒▒▒░▒▒▓▓█▓█▓░ ░░░  ░▒▓▓▓▓▓▓░░░░▒▒▒▒▒▒▒▒▒▒▒░░░░░░░   ░                     
                                                                                       ░░  ░░       ░░▒▒▒░░░░░▒░░░▒▒▒▒▒▒▒▒▓▓▓▓▓▒░░░░▒▒▓▓▓▓▒░    ░░▓▓▓▓▓▓▓▓▒░░░░░░░░░░░░░░░░░░   ░                      
                                                                                       ░░░  ░░     ░▒▒▒▒▒░░░░░▒░░▓▓▓▒▒▒▓▓▓▒▒▓█▓█▓▒░░░░░▒▒▓▓░░░▒▒▒░░▓▒▒▒▓▓▓▓▓▓▒░░ ░     ░ ░ ░   ░                       
                                                                                        ░         ░▒▒▒▒▒▒░▒░░░▒░░░▒▒▒▒▒▒▒▒▓▓▓▓█▓▓▓▓░░░░░░░░░▒▒▓▓▒▒▒░░░▒▒▒▒▓▒▓▓▓▒░░░░░                                  
                                                                                       ░░░   ░░  ░▒▒▒▒▒▒░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▓▓▓▓█▓▓▒░░░ ░ ░░▒▒▓▓▓▒▒░░░░▒▒▒▒▒▒▒▒▒▒░░░░░░                               
                                                                                        ░░      ░░░░▒░▒░░░░░░░░░░░░░▒░▒░░░░▒▒▒▒▒░▓▓▓▓▒░   ░░░░▒▒▓▓▓▓▒▒▒░░░▒▒▒░░░▒░░░░░░░░░  ░                          
                                                                                         ░ ░   ░ ░░▒░▒▒▒▒░░░░░░▒▒▒░▒▒▒▒▒▒▒░░░▒▒▒▒▒░▒▒▒░░░░ ░░░▒▓▓▒▒▓▒▒▒▒▒░ ░▒▒▒▒▒▒░░░░░░░░░░░                          
                                                                                         ░░       ░░░░▒░░░░░░░▒░▒▒▒▒▒▒▒░▒░▒░░░░░▒░▒░░░▒▒▒   ░░░▒▒▒▒▒▒▒▒▒▒░░░░░▒░░░░░░░░   ░░░                          
                                                                                         ░░░░░   ░░░░▒░░░░░░░░▒▒▒▒▒▒▒▒▒▒░▒░▒░░░░░░░░ ░▒▓▓▓░░ ░░░░▒░▒▒▒▒▒▒▒▒▒░░░░░░░░░░░    ░                           
                                                                                          ░▒█▒░ ░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░▒▒▓▓▓▓▒  ░░░░░▒░░░▒▒▒▒▒░░░░         ░                            
                                                                                          ░▒██░░░░░░░░░░░░░░░░▒▓▒▒▒▒▒▒▒▒▒▒░▒░░░░░░░░░░░▒▓▓▓▓▓▓▒░ ░░░░▒▒░░░░▒▒▒░▒░░░░   ░ ░░                            
                                                                                          ░▒██▓ ░░░░░░░ ░░░░░░▒▒▓▒▒▒▒░▒▒▒▒▒░▒░░░░░░░░ ░░▒▒▓▓▓▓▓▓▒░░ ░░░▒░ ░░░░░░░░░░░                                ░░
                                                                                           ▒██▓░ ░░░░░░░ ░░░░░░▒▓▓▓▓▒▒▒▒▒▒▒▒░▒░▒░░░░▒▒░░░▒▒▓▓▓▓▓▓▓▒░░░░░░▒░  ░░░░░░░░░ ░                            ░▒▒
                                                                                           ▒███▒░ ░░░░░░░ ░░░░░░▒▓▓▓▓▒▒▒▒░▒░▒░░░░░░ ░▒▒░░░░░▒▒▒▓▓▓▓▓▒░░ ░░░░░   ░░░░░░░░                          ░▒▒▒░
                                                                                           ▒████░░░▒░░░░░░ ░░░░▒░▒▓▓▓▓▒▒▒▒░▒░▒░▒░▒░░░▒▒▒▒░░░░░▒▒▒▓▓▓▓▓▒░░░ ░░░     ░ ░░░                       ░░▒▒▒░  
                                                                                          ░░███▓▓▒░░░░░░░ ░ ░░░░░░░▓▓▓▓▓▒░▒░▒░▒░▒░░░▒░▒▒▒▒▒░░░░░▒▒▒▒▓▓▓▒░░  ░░░       ░                       ░▒▓▒░   ░
                                                                                         ░░░██████▒░░░░░░░░░░░░░░░░░▒▓▓▓▒▒░▒░▒░░░▒░▒░▒▒▒▒▒▒▒░░░░░▒▒▒▓▓▓▓▓▒░░ ░ ░ ░   ░░                    ░▒▒▒▒░░   ░ 
                                                                                          ░░███████░░░░░░░░░░░░░░░░░▒▒▓▓▓▒▒░▒░░░░░░░▒░▒░▒░▒▒▒░░ ░░░░▒▒▒▒▓▓▒▒░       ░                   ░░▒▒▓▒▒░      ░
                                                                                          ░░▓█▓████▒░░░░░░░░░░░░░░░░░▒▒▒▒▒▒▒░▒░░░░░▒▒▒░▒░▒░▒▒▒▒░ ░░░░▒░▒▒▒▒▓▒░     ░░                  ░▒▓▓▓▒░       ░░
                                                                                          ░░▒▓███▓█▒░░░░░░░░░░░░░░▒░░░▒░░░▒░░░▒░░░░░▒░░░▒ ░░▒▒▒▒░ ░░░░░░░░░▒▒▒░░  ░                  ░▓▓█▓▒░░       ░░░
                                                                                         ░░░░▓█████▓░░░▒░░░░░░░░░░░▒░░░▒░░▒▒░▒▒▒░░░░░▒▒░░░ ░░▒▒▒▒░ ░░░░░░░░░░░░░░░░░               ░▒██▓▒░       ░░░░░░
                                                                                          ░░░▓▓▓███▓░░░░░░░░░░░░░░░░▒░░░▒░░ ░░▒▒▒░  ░░░░░▒  ░░▒▒▒░░       ░ ░░░   ░               ░▓█▓▓░        ░░░░░ ░
                                                                                         ░░░░▓▓▓▓██▓░░░░░░░░░░░░░░░░░▒░░░░░░░▒░▒▒▒░░░░░▒░░░  ░░▒▒▒░░       ░ ░░░  ░            ░░▒▒▓▓▒         ░ ░░░░░░
                                                                                          ░░░▓▓▒▓██▓░░▒░░░░░░░░░░ ░░░░░░░░░░░░░░▒░▒░░░░░░░░   ░░▒▒▒░░           ░ ░           ░▒▒▒▒░░         ░ ░░░░░░░
                                                                                         ░░░░▓▓▒▒██▓▒▒▒░░░░░ ░░░░░░░ ░░░░░░░░░░░░▒░▒░▒░░░░░░    ░▒▒▒░░         ░░░         ░░▒▒▒▒▒░      ░░░ ░░░░░░░░░░
                                                                                         ░░░▒▒▓░░▓█▓▒░▒░░░░░░░░░░░░░  ░▒░░▒░░░░░░░░░▒░░░░░░░     ░▒░░░░         ░       ░░░▒▒▒▒░░     ░   ░░░   ░ ░ ░░░
                                                                                         ░░░▒▓▓▒▒▓▓▒░▒░░░░░░ ░░░░░░░░ ░▓▒░░▒▒▒░░░░░░░▒░░░░░░      ░▒░░░░       ░░     ░░▒▒▒▒▒▒░        ░ ░░░░░ ░     ░ 
                                                                                         ░░░▒▓▓░▒▓▓░▒░░░░░░░░░░░▒░░░░░░▒▓░░░▒▒▒░▒░░░░░▒▒▒░░░░      ░░░░░            ░░▒▒▒▒▒░░           ░░░░░░░░    ░░░
                                                                                       ░ ░░▒▒▓▓▒▒▓▒░░▒░░░░░░░░░▒░▒░░░▒░▒▒▒░░░▒▒▒░░░░░▒▒▒▒░░░░    ░   ░░░         ░░▒▒▒▒▒▒▒░░      ░░░░░░░░░░░░░░░░░░░░░
                                                                                      ░░▒▒▒▒▓▓▓▒▒▒░░░░░░░░░░░ ░░░░░░░░░░▒▒░░░░▒▒▒░░░░░▒▒▒░ ░░         ░       ░░▒▒▒▒▒▒▒░░         ░░░░░░░░░░░░░░░░░░░░░
                                                                                 ░ ░░▒▒▓▓▓▒▓▓▓▒▒▒░░░░░░░░░░░░░░▒▒▒░░░░░░▒░░░░▒░▒▒▒░░░▒░▒▒▒ ░░░         ░     ░▒▒▒▒▒▒▒░             ░░░░░░░░░░░ ░░░░░░░░
                                                                                ░░▒▒▓▓▓▓▓▒▒▒▓▒▒▒░░░░░░░░░ ░░░░░░░░░░▒░░░░░░░░░░░▒▒▒░░░▒░▒▒░ ░░            ░░▒▒▓▒▒▒▒░              ░░░░░░░░░░░   ░ ░░░░░
                                                                             ░░▒▓▓▓▓▓▓▓▒▒▓▓▓▒▒▒░░░░░░░░░ ░░░ ░░░░▒░░░▒░░░░░░░▒░░▒▒▒▒░░░▒▒▒░  ░         ░░▒▓▓▒▓▒▒░░           ░░░░░░░░░░░░░░░░░ ░ ░ ░ ░░
                                                                           ░▒▒▓▓▓▓▓▓▓▒▒▒▒▓▓▒▒░░░░░░░░   ░░░░  ░░░░░░░░░░░░░░░░░░▒░▒▒░ ░░▒░░░        ░░▒▓▓▓▒▒▒░░            ░░░░░░░░░░░░░░░░░░░░     ░ ░
                                                                       ░░░▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒░░░░░░░░   ░░░░░░░░░░░░░░▒░░▒░░░░░░░░░░▒▒░ ░▒▒░░     ░░▒▓▓▓▓▒▒▒░░░ ░   ░ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                                                     ░░▒▓▓▓▓▒▓▓▓▓▓▓▓▓▓▒▒▒░░░░░░░░░   ░▒▒▒░░░ ▒▒▒░░░▒▒▒▒▒▒▒░░░░░░░░░▒░░ ░░░░░ ░░▒▒▓▒▓▒▒▒▒░░ ░     ░░░░░░░░░░░░░░░░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░
                                                                     ░▒▓▓▓▓▓▒▓▒▓▓▓▓▓▓▓▒▒░▒░░░░░░    ░▒▒▓▒▒▒▒░░ ▒▒▒░░░▒▒▒░░░▒▒▒░░░░░░▒▒░░ ░░░░▒▓▓▒▒▒▒▒▒▒░░░ ░ ░ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
                                                                    ░▒▓▓▓▒▒▒▒▒▒▒▓▒▒▒▒▒▒░░░░░░     ░░░░▒▓▓▒▒░░░ ░▒▒░░░░░░░░▒░▒░▒░░░░░▒▒░ ░░▒▒▒▒▒▒▒░▒░░░░     ░░░░░░░░░░░░░ ░       ░ ░ ░░░░░░░ ░░░░░░░░░
                                                                   ░▓▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒░░░░░░     ░░░░░░░░▒▒▓▒░░░ ░▒▒░░░░░░░▒░▒░▒░▒░░░░░▒░░▒▒▒▒▒▒▒▒░░░░░      ░ ░ ░░░░░░░ ░ ░ ░ ░ ░ ░░░░░░░░░ ░░░░░░░░░░░░
                                                                  ░▓▓▓▒▒▒▒▒▒▒▒▒▒░░░░░        ░░░░░░░░░░░░▒▒░░░░░▒▒░░░░░░░░▒░▒░▒░░░░░░░▒░▒░░░░░░░░             ░           ░   ░ ░░░░░░░░░░░ ░░░░░░░░░░▒
                                                                 ░▓▓▓▒▒▒▒▒▒▒▒▒░░░░           ░▒░░░░▒▒▒░░░░░░░░░░░▒░░░▒░░░░░░░▒▒▒░░░░░░▒▒░░   ░░░       ░                 ░░░ ░   ░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒
            pub     dsa1024 2005-02-10 [SCA]                                                        ░▓▓▒▒▒▒▒▒░▒▒░░░ ░       ░░    ░▒░░▒▒▒▒▒░░░░░░░░░░░░░▒░░░░░░░░▒▒░░░░░░░▒░░                                 ░░░ ░ ░ ░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒░
                                           E5B6  36UA  F8B6  08A2                 ░▓▓▒▒▒▒▒▒▒▒▒▒░░          ░░     ░▒▒▓▓▓▒▒▒▒▒░░░░░░░░▒▒░▒░░░░░░░▒▒▒░░░░░▒░░ ░           ░           ░         ░░░░░░░ ░ ░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒░
                                                              ░▒▓▓▓▒▒▒▒▒▒▒▒░░           ░▒░     ░░▒▓▓▓▓▒▒▒▒░▒░░░░░▒▒▒░▒░░░░░░░▒▒░░░░▒▒░ ░░░     ░░░ ░       ░     ░ ░ ░ ░ ░   ░ ░ ░░░ ░░░░▒░▒▒▒▒▒▒▒▒▒▒▒
                                                             ░▒▓▓▓▒▒▒▒▒▒▒▒░░            ░▒       ░░▒▒▓▓▓▒▒░▒░▒░░ ░▒▒▒▒░░░░░░░░░▒░░░▒▒░░░░░░  ░░░░░░░░░ ░   ░░░   ░ ░ ░ ░ ░░░ ░ ░ ░ ░░░░░░░▒▒░▒░▒▒▒▒▒▒▒▒
                                                             ░▓▓▓▓▒▒▒▒▒▒░8F90  FDFC  9FF2  0608  F5BA  7E4F             ▒▒░        ░░▒▓▓▓▒▒░▒░░░░░░▒▒▒░░░░░░░░░▒▒░▒▒▒░░░░░     ░░░░░░                   ░ ░   ░ ░ ░ ░ ░░░░░░▒░▒░░░▒▒▒▒▒
                                                            ░▓▓▓▓▓▒▒▒▒▒▒░░             ░░▒░        ░░░░▒▒▒▒░░░░░░░░░░▒░░░░░░░░░▒░▒▒▒░░░░  ░░░  ░░░░░░░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░ ░░░░░░░░▒▒▒░▒▒▒▒
                                                            ▒▓▓▓▓▓▓▒▒▒▓░░               ░▒░         ░░░░░░░░░ ░░░░░░░░░░░░░░░░░░▒▒▒ ░░░░  ░░░   ░░░░░ ░ ░ ░ ░ ░   ░ ░ ░       ░   ░   ░ ░░░░░░░░▒▒▒░░░▒
                                                           ░▓▓▒▓▓▓▒▓▒▓▓░                ▒▒░░         ░░░░░░▒▒░░░░░░░░░░░░░░░░░░▒▒▒░░ ░░░ ░░░   ░░░░░░░░░ ░░░ ░ ░ ░ ░ ░ ░ ░░░ ░ ░ ░ ░ ░ ░ ░ ░▒░░░░░▒▒▒▒▒
                                                           ░▓▒▓▓▓▓▓▒▓▓▓░               ░▒░░         ░░░░░░░▒░░░░░░░░░░░░░░░░░░▒▒▒░  ░░░░░ ░░    ░░░░░   ░ ░ ░       ░   ░ ░ ░ ░ ░           ░░▒░░░░░▒░▒
                                                          ░▒▒▒▓▓▓▓▓▓▓▓▒░               ▒▒▒░░        ░░░░░░░░░░░▒░░░░░░░░░░░░░▒▒▒░░░░░░░░░░░░  ░░░░░░ ░ ░ ░ ░ ░ ░   ░   ░ ░░░░░ ░ ░ ░   ░ ░ ░ ░░▒░░░░░░░
                                                          ░▒▒▓▓▓▓▓▓▓▓▓▒               ░▒▒▒░         ░░░░░░▒░░░░░░▒▒░░░░░░░░░wait for sky░░░   ░░░ ░   ░ ░ ░ ░ ░       ░     ░░░ ░ ░   ░ ░ ░ ░ ░░▒▒░░░░░
                                                         ░▒▒▒▓▓█▓▓▓▓▒▓▒░              ░▒▒▒░         ░░░░░░▒▒░░░░░░░░░░░░░░░▒▒▒░░░░░░ ░░░░░░░ ░░░░░ ░ ░░░ ░ ░ ░   ░ ░ ░ ░ ░ ░░░░░░░░░ ░ ░ ░ ░ ░░░░░▒░░░░
                                                          ▒▒▓▒▓▓▓▓▓▒▒▒▒               ░▒▒░          ░░░░░░▒░░░░░░░░░░░░░░ ░▒▒░░░░   ░░░░░░░   ░░░                           ░ ░░░ ░░░ ░ ░   ░   ░ ░░░░░
                                                         ░▒▒▒▓▓▓▓▓▓▒▒▓▒░             ░░▒▒░       ░ ░░░░░░░░░░░░░░░░▒░░░░ ░▒▒░░░░   ░░░░░░░░  ░░░░                      ░   ░ ░░░░░░░░░░░░░ ░ ░ ░   ░░░░
                                                         ░▒▒▒▓▓▓▓▒▒▒▒▓▓░             ░▒▒░         ░░░░░░░░░░░░░░░░░░▒░░ ░▒▒░░░░░    ░░░░░░░  ░░░                          ░ ░ ░ ░ ░ ░ ░ ░ ░         ░░░
                                                         ▒▒▒▒▓▓▓▓▓▒▓▒▓▓░             ░▒░░░      ░░░░░░░░░░░░░░░░░░░░░░░▒▒▒░░░░░    ░░░░░░░░  ░░░ ░   ░                   ░ ░░░ ░░░░░ ░░░ ░ ░ ░ ░     ░░
                                                         ▒▒▒▓▓█▓▓▒▓▓▒▒▓░             ░░ ░      ░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒░░░    ░░░░░░░   ░░░                               ░ ░ ░ ░   ░   ░  ░       
                                                        ░▒▒▓▓▓▓▓▓▓▓▓▒▒▒▒            ░░ ░    ░░░░░░░░░░░░▒░░░░░░░░░░░░▒▒▒▒▒░░░    ░░░░░░░░  ░░░ ░   ░ ░ ░   ░   ░   ░ ░ ░ ░ ░   ░ ░ ░ ░ ░      ░░       
                                                        ░▒▒▓▓▓▓▓▓▓▓▒▒▒▓▒            ░░░ ░░░░░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒░▒░░░      ░░░░░   ░ ░       ░                     ░       ░ ░ ░       ░        
                                                       ░▒▒▒▒▒▒▓▓▓▓▓▓▒▒▒▓░          ░░░░▒░░░░░░░░░░░░░░░░░░ ░ ░░░░░▒▒▒▒▒▒░▒░░    ░░░░░░   ░░░     ░           ░   ░ ░ ░ ░ ░ ░ ░   ░ ░ ░░░ ░   ░         
                                                       ░▒▒▒▒▒▒▓▓▓▓▓▒▒▒▓▓░           ░░░░░░▒░░░░░░░░░░░░░░░  ░░░░░▒▒▒▒░░░░░░░    ░░░     ░░░                                                            
                                                       ░▒▒▒▒▒▓▓▓▓▓▒▓▒▓▓▓▒░         ░▒░░░▒▒▒▒░░░░░░░░░░░░░░░░░░░▒▒▓▒░ ▒▒░░░░░   ░░░░░   ░░░     ░                             ░ ░░░ ░   ░   ░           
                                                       ░▒▒▒▒▒▓▓▓▓▒▓▓▓▒▒▒▓░        ░░░░▒▒▒▒▒░░░░░░░░░░░░░░░░ ░ ▒▒▒▒▒░▒░░░░░░   ░ ░░░   ░░░░    ░                                   ░░░░░ ░░░            
                                                       ▒▒▒▒▓▓▓▓▓▓▓▓▓▒▒▒▓▓▓░      ░▒▒░▒▒▒░░░░░░░░░░░░░░░░░░░░░▒▓▒▒▒▒▒░░░  ░   ░   ░ ░ ░░░░    ░░░ ░   ░                   ░ ░     ░░░░░░░░░░            
                                                          ░▒▒▒▒▓▓▓▓▓▓▓▓▒▒▒▒▒▓▓▓      ░▒▒▒▒▒░░░░░   eig1024/0x10314D67633C080 1999-05-23   ░     ░     ░ ░ ░                     ░       ░░░░░░░            
                                     Orpheus && Eurydice                 ░▒▒▒▒▓▓▓▒▓▓▓▓▓▒▒▒▒▓▓▓░  ▒▒▒▒▒░░░░░░░░░░░░░░░░░░ ░░▓▓▒░▒▒▒░░░░░   ░░ ░░░░░   ░░    ░ ░ ░ ░░░░░░░░░░░                 ░░░     ░░░               
                                                      ░▒▒▒▒▒▒▒▓▓▓▓▓▓▒▒▒▒▒▓▓▒    ▒▒▒▒▒░░░░░░░░░░░░░░░░░░░░▒▓▓▒░▒░░░░░░░░  ░░ ░░░ ░ ░  ░░   ░ ░ ░ ░ ░ ░ ░░░ ░                   ░░░░░                    
                                                      ░▒▒▒Tb6wovenui150+uGtUl12fIH1uA==▒▒▒▒▓▓▓▓▓▓▒▒▒▒▒▓▓▓░  ░▒▒▒▒▒░░░░░░░░░░░░░░░░░ ░▒▓▒▒░░ ░░░░░░░░░ ░ ░░░░░ ░  ░░   ░ ░ ░ ░ ░░  ░░░ ░                    ░░░░░░░░ ░               
                                                      ░▒▒▒▒▒▒░▒▓▓▓▓▒▒▒▒▒▒▒▓▒▒ ░▒▒▒▒░▒░░░░░░░░░░░░░░░░ ░▒▓▒▒░░ ░░░░░░        ░   ░       ░     ░ ░                              ░░░░░░░░░               
                                                      ░▒░▒▒▓▒░▒▓▓▓▓▒▒▒▒▒▒▒▒▓▒░▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░▒▓▓▒░░░░░░░░░ ░       ░   ░       ░   ░░░ ░                           ░   ░░░░░░▒░░               
                                                      ░▒▒▒▒▒▒░░▓▓▓▓▒▒▒▒▒▒▒▒▒▓▒░▒▒▒▒▒▒░░░░░░░░░░░░░░░▒▓▓▒░░▒▒░░░░░                           ░                             ░░░     ░░░░                 
                                                       ▒▒▒▒▒░░▒▓▓▓▓▒▒▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒░▒░░░░░░░░░░░░▒▓▓▓▓▒░▒░░░░░░ ░           ░   ░       ░ ░░░░                            ░░░░░                       
                                                       ░▒▒▒▒░▒▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▓▒░░▒▒░░░░░░░░░░░░░▓▓▓▓▓▒░░ ░ ░ ░░░░░         ░░  ░         ░ ░░░                            ░░░░░░░░░                   
                                                       ▒▒▒▒▒░▓▓▓▓▓▒▓▓▓▒▒▒▒▒▒▒▒▒▓▒░░░░░░░░░░░░░░▒▓▓▓▓▓▒░░ ░ ░░░ ░░░░░░      ░░░         ░ ░░░░░                    ░░       ░░░░░░░░░                   
                                                       ░▒▒▒░▓▓█▓▓▓▒▒▓▓▓▒▓▒▒▒▒▒▒▒▒▒░░░░░░░░░ ░░▓▓▓▒▓▒▒░░ ░░░░░░░      ▒░     ░       ░░░ ░ ░ ░░                    ░░░░       ░░░░░░                    
                                                       ▒▒▒▒▒▓▓▓▓▓▓▒▒▓▓▓▒▒▓▒▒▒▒▒▒▒▒▒░░░░░░░░░▒▓▓▓▓▒▒▒░░░░░░░░░░       ░░▒▒░ ░       ░░░░░ ░░░░░   ░                 ░░░░░       ░░░░░                   
                                                       ░▒░▒▓▓▓▓▓▒▒▒▒▓▓▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒░░░░░▒▓▓▓▓▓▓▒▒░░░░ ░ ░░░░▒▒░      ░░░░ ░   ░░░░░░░ ░                           ░░░░░                              
                                                       ▒▒▒▒▓▓▓▒▒▒▒▒▓▓▓▒▓▓▓▒▒▒▒▒▒▒▒▒▒▒▒░░░▒▓▓▓▓▓▒░░░░░░ ░  ░░░░░░▒▒▒░ ░ ░░░░░    ░░░░░░░░░░░░   ░   ░                ░░░░░░                             
                                                       ░▒░▓▓▒▒▒░▒░▓▓▓▓▓▓▓▒▒▒▒▒▒▒▒▒▒░▒▒▒▒▒▓▓▓▓▓▒   ░         ░░░░░░░▒▒     ░░░   ░░░░░░░░░░░░          ░             ░░░░░░░░░░                         
                                                       ░▒░▒▒▒▒▒▒░▒▓▓▓▓▒▓▓▓▒▒▒▒▒▒▒▒▒▒░▒▒▒▒▓▓▓▓▒▒▒░░ ░ ░        ░░░░░░░▒░    ░░  ░░░░░░░ ░░░░░     ░   ░░░             ░░░░░░░░░░                        
                                                       ░▒░▒▒░░▒▒▒▓▓▓▓▒▓▓▓▒▒▒▓▒▒▒▒▒▒░▒▒▒▒▒▒▒▒▒▒▒▒▒░   ░░░░░░░░ ░   ░░░░░▒░     ░ ░░░░░   ░░░░░                         ░░░░░░░                          
                                                       ░░░▒▒▒▒▒▒▒▓▓▓▒▒▓▓▓▓▒▒▒▓▒▒▒▒▒▒▒▒░░░░░░░▒▒▒▒░  ░░▒▒▒▒▒▒▒▒░░░  ░░░░░░▒     ░░░░░░     ░░░      ░   ░                ░░░░                           
                                                       ░░░░░▒▒▒░▒▓▓▒▒▒▓▓▓▒▓▓▓▒▓▒▒▒▒▒▒░░░░░░ ░░░░▒░░░░░░░▒▒▒▒▒▒▒░░░░   ░░░░░░   ░░░░░░ ░   ░░░                             ░                            
                                                       ░░░░░▒▒▒▒▓▓▒▒░▓▓▓▓▓▓▓▓▓▓▒▒▒▓▒▒▒░░░░░  ░░▒▒▒░░░▒▒▒▒░▒▒▒▒▒▒▒▒░░   ░░░     ░░░░░░░░░   ░░░       ░   ░               ░░                            
                                                       ░░░░▒▒▒▒▒▒▒▒░▒▓▓▓▓▓▓▓▓▒▓▒▒▒▓▒▒▒▒░░░░░░░░░▒░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░░         ░░░░░░░░       ░                 ░         ░                            
                                                       ░░░░▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▒▒▒▓▒▒▒▓▒▒▒░░░░▒▒▒░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░       ░░░░░░░░░                         ░       ░ ░                           
                                                       ░░░▒▒▒▒▒░▒▒▒▒▓▓▓▓▓▓▓▓▒░▓▒▒▒▓▓▓▒▒░░░░▒▒▒▒░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░░░░░░ ░    ░░░░░░░░                           ░░                                   
            GNU Privacy Guard (GnuPG or GPG) is a free-software░replac▒▓en▒ ░░r Symantec's crypt▒▒raph░ic░of▓w░re░░uit░░PGP              ░░░▒▒▒▒▒▒▒▒▒▒▓▓▒▓▓▓▓▓▒░▓▓▓▓▓▒▒▒░░░▒░▒▒▒░▒▒▒▒▒▒▒▒▓▒▒▒▒▒▒▒▒░▒░▒▒▒░▒░░░░   ░░░░░░░░░ ░ ░             ░         ░░░   ░                             
                                                        ░░▒▒▒▒▒▒▒▒▒▒▓▓▒▒▓▒▓▒▒░▒▓▓▓▓▒▒░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒▒▒░░░░░░  ░░░░                                 ░ ░                                
                                                         ░░▒▒▒░▒▒▒▒▒▒▓▒▓▓▓▒▓▒░▒▓▓▓▒▒▒▒░▒░░░░▒▒▒▒▒▒▒▒▒▒░▒░▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░░░░░░░░░        ░                          ░                                
                                                         ░▒▒▒░░▒▒▒▒▒▒▒▓▓▓▓▓▒░░░▒▒▒▒▒▒░░░░░░░▒░▒░▒▒▒▒▒▒▒░▒░░░▒▒▒▒▒▒▒▒▒▒▒░░░▒░░ ░░░ ░         ░                         ░                                
                                                         ░░▒░▒░▓▒▒▒░░░▓▓▓▓▒▒░░░░▒▒░▒▒░░░░░░░░▒░▒▒▒▒▒▒▒▒▒▒▒░░░▒▒▒▒▒▒▒▒▒▒▒░▒░░░░░░░            ░ ░ ░           ░░      ░                                 
                                                         ░▒░░░▒▒▒▒▒▒░░▓▓▓▒▒░░░░░░░░░▒░░░░   ░░░░▓▒▒▒▒▒▒▒▒▒▒▒░░░░░░░░▒▒▒▒▒░░   ░░░               ░             ░░░   ░                                  
                                                         ░░░░▒▒▒▒▒▒▒▒░▒▒▒▒░░░░░░░░░░░░░░░░░░░▒░▒▒▒▓▓▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░░  ░░░              ░░░░            ░░                                     
                                                         ░▒░░▒▒▒▒░▒▒▒░▒▒░░░░░░░░░░░░░░░░░░░░░░░░▒▒▒▒▒░▒▒▒▒▒▒▒▒▒░░░░░░░░░░░░░░   ░░░ ░            ░░░░             ░                                    
                                                         ░░░░▒▒▒░▒▒▒▒▒░▒░▒░▒░▒░░░░░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒░░░▓▒▒▒▒▒▒▒▒▒▒░░░░░░░░░░  ░░░░░░░           ░░░░           ░░                                    
                                                          ░ ░░▒▒▒░▒▒▒░░░░▒░░░░░░░░░░░  ░░░▒▒▒▒▒▒▒▒▒▒▒▒▒░▒▒▓▓▒▒▒▒▒▒▒▒▒░▒▒▒░░░░░    ░░░ ░            ░░░░           ░                                    
                                              wait for sky              ░▒▒▒▒░▒▒▒░░▒▒▒░░░▒░░░░░▒░░░▒░▒▒▒▒▒▓▓▒▓▒▓▒▓▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒░░     ░░░░░░░          ░▒░░         ░                                     
                                                            ░░▒▒▒░▒▒░░░░▒wait for sky░▒░░░░░░▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▒▓▒▓▒▒▒▓▒▒▒▒▒▒▒▒▒▒▒▒▒▒░▒░▒░░░░      ░░ ░ ░          ░▒░░░░                                            
                                                            ░░▒▒▒░▒▒░░░▒▒▒░░░▒░░░▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▒▓▓▓▓▓▒▓▓▓▓▓▒░░▒▒▒▒▒▒▒▒▒▒▒░░░░░░ ░       ░   ░        ░░░░░░░  ░                                       
                                                            ░░▒▒▒░▒▒░░░▒▒░▒░░░▒░░▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▒▓▒▓▓▓▓▒░░░░░▒░▒▒▒▒▒░░░░░░                           ░░░                                          
                                                             ░▒▒▒░░▒▒░░▒▒▒░▒░▒░░░▒░▒▒▓▒▒▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓wait for sky▓▒░░ ░░▒░░░░░▒░░░░░    ░ ░     ░   ░           ░░░                                         
                                                              ░░▒░▒░▒░▒▒▒░░░░░▒░░░▒░▒▒▓▒▒▒▒▒▓▒▓▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒░  ░░░░░░░░░░░     ░                                                                  
                                                              ░░░░░▒░░▒▒▒▒░▒░░░░░░░░░▒▒▒▒▓▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▒░░ ░ ░░░░░░░░░ ░ ░ ░ ░         ░           ░                                         
                                                              ░░░░░░░░░░▒░░░░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▒▓▒▒▓▓▓▒▓▓▓▓▒▒▒▒▒▒░     ░░░░░     ░ ░ ░                 ░ ░                                          
                                                               ░░░░▒░░░▒▒▒░▒░░░░░░░▒▒▒▒▒▒▒▒▒▒▒▒▒▓▓▓▓▓▒▓▓▓▓▓▓▓▓▓▒▒▒▒▒▒▒░░           ░ ░ ░░░░░             ░  ░                                          
>_                                                              ░░░▒░░░░▒░░░░░░░░░░▒▒▒▒▒▒▒▒▒▓▒▓▓▓▓▓▓▓▒▓▓▓▓▓▒▓▓▓▓▓▒▒▒▒▒▒▒░             ░   ░ ░           ░░                                sanalog 2026 
`
      }</pre>
      <!--
                                                                                           #### ####
####         *####-    =#######+    .####%%###     #####:     +###########+    .#####%%#   #### ####
###          *##:       -#####+       .##%%#        ####:     +#########+       .####%%    #### ####
##           *##:        -###+          #%%#         ###:     +########+         .###%              
#            *#:          -##+          #%%           *#:     +########+          .##%     #### ####
#            *#:          -#+            %%           *#:     +#######=           .##      #### ####
#            *#:          -#+            %%           *#:     +#######=           .##      #### ####
#            *#:          -#+            ##           *#.           -#=           .##           .
#            +#:          -#+            ##           *#.           -#=           .##           , 
#           +##:          -#+            ##           *#.           -##=         .####          *
#           *###:         -#+            ###          *#.           -##+         .####          #
#          +####*:        -#+            ###*         *#.           -###=       .*#####        *#
#        **######**-      -#+            ####**       *#.           -####*+   .**######**    **##       

                                                                                        ░ ░▒░▒

                                      ░      ░     ░░                                 ░
                                                     ░░░      ▒▒░
                            ▒                           ░░        ░
                        ▒▒          ░░ ░▒▒░░░░░▒░        ░░     ░ ░
                     ▒▓▒▓▒░▒ ░▒▓▓▓░ ░░░░░░░░░░▒  ▒         ▒░       ▒ ░░
                  ▓▒  ░░░▒▒▓▒░▒▒▒▓▒▒▒▒▒▒▒▓▓░░  ▒▒ ▒     ░   ▒           ░▒▒░ ░░
               ▓▒░░▒▒░░ ▒ ▒ ▓▒▒▓▓▒▓▒▒▒▒░░▒▓▒▒▒▒░ ▓░▒  ░  ░   ░             ░░
                ░ ░░▓▒▒▒░░░ ▓░░▒▒▒▒▒▒▒░░░░▒░░▓▒▒▓░▒░▓        ▒
                    ░░▒▓▓▓▒▓▒░░▒▓▓▓▓▓▓▓▓▓▓▓▓▓▒░▒▒▒▒▒▒▒ ░ ░ ░ ▓
                        ░░░▒▒▓▓▓▓▒▒▒▒▓▓▓▓▓▓▓▓▓▓▓▒▒▒▓▒▓▒░ ▒ ░ ▒
               ░    ░ ░░ ▒▒░▒▒▒▓▒▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▓▒▒▒▓ ▒▒░▒ ▒  ░ ░                      ░
          ░       ░▒▒▒▓▓▓▓▓▓▓▓▓▓▓▓▒▒▓▒▓▓▒░░  ░░  ░▒▒▓▒▒▒▒▒▒░ ▒  ░    ░
          ░░░▒▒░░░░░░░░░░░▓░░▒▒▒▒▒▒▒░▓    ░▒▒░░░░░░░░░░░▒▒▓░▒░░  ░   ░                ░    ░░
     ░ ░            ░░░▒▒░▓ ▒░▓▒░▒░▒░   ▒▒░░░░▒▒▒▒░░░▓░   ░░▒▒░ ░░   ░             ░   ░  ░
             ░░▒  ░ ░ ▒ ░░░▒░░░░░▒▒   ░▒░░░░▒▓▓▒░░▒░         ░▒░ ▒  ░                   ░░
                ░▒░ ▒ ░░▒ ░ ░░░░▒    ░░ ░░░▒▓▓░░▓▒    ░          ░░ ░               ░░ ░░
       ░    ░     ░  ░ ░   ░░░░     ▓░░░░░░▓▓▒░▒▓   ▒░░▒▓▓▒░      ░░ ░  ░ ▒ ░░  ░     ░ ▒▓
           ░ ░  ▒░ ░     ░ ░░     ▒▒░░▒░░░▒▓▓░░▓░  ▒░░▓▒░░▒▓▓▒░      ▒ ░░░▒░░▒░░        ░░
                 ░    ░░ ░░      ▒░▒░▒░░ ▒▓▓▒░▓▒   ░░▓▒░▓▓▓▓░░░▓▒     ░░ ░    ░     ░▒░ ▒
                ░   ░░        ░▒░░░░▒░░░░▓▓▒░▒▓   ▒░▒▒▒▓▓░  ░░░  ░    ░░░ ░    ░░░░░░░▒
                  ░         ▒░▒░▒░░░░░░▓▓▓▒░▒▓   ▒░▒▒▒▓▒ ░░░░▒▒░░░      ░░ ░     ░░░ ▒░       ░░
░░░░ ░ ░                ░░▒░░░░░░░░░▒▓▓▓▒░░▓▒   ▒░▒░▒▓░ ░░░▒▒▒▒▒▒░░░      ░░  ░░▒░░░░░       ░░
   ▒░░░░ ▒ ▒  ░▒░░▒▒ ░▓░▒▒░░░░░░▒▒▓▒▒░░░ ░▒░░ ▒▒▒░▒▓░ ░░▒▒░░░░░▒▒▓▒░░      ░░░░░░░░░░ ░    ░▒
 ░  ░░   ░░▒░░▒▒ ░▒▓▒░░░░░▒▒▒▒░░           ░ ▒ ▒▒ ░ ░▒▒░▒▓▓▒░░   ░▒▒░░      ░░    ░░▒    ▒░░
░     ░░░░  ░░░░░░░░░░▒▒▒░      ░       ▒   ░▒░ ░▒▒▓▓▓▓▓▓▓▓▓▓▓▓▓░ ░▒▓░░        ▒▒▒▒░    ░░▒
  ▒░ ░    ░▒    ▒ ░▒▒░     ░▒▒▓▒▒▒▒▒▓▓▓░▒▓▒░░▓▓▓▓▓▓▓▓░░░░░ ░ ░▓▓▓▒ ░▒▓░░░░░            ▒▒▒▒░░░░░
░  ░░░░▒░░░░░░░░▓▒░     ▒▒▒▒▒▒▒▓▓▓▒▒▒▒░▒▒▓▓▓▓▓▒░░▒▓▓ ░▒▒▓░░    ▓▓▓░ ▒▒░▒░░ ▒░        ░▓▓▒▒
▒▓  ▒▒░ ▒▒▓▓▓▒▒▒░    ▒▓▒▒▒▓░░     ░░ ░▒▓▓░▒░▒▓▓▓▓▒▓▓▒▓▓▒░░▒▒▒ ░ ▓▓▓ ░░▓░▒░░ ▒▓▓░░░░▒▓▓▓░▒
░░░▒░░ ▓▓▓▒▓▓▒░   ░░▓▒▒▓▒░ ▒▒▓▒░░░▒▓▒▓░ ░▒▒▓▒▒░▒▒▓▒▓▓▓▓▓▓▒▓▒ ▒ ░▒▓▓░ ▒▓ ▒░░░░ ░▓▒▓▓▓▓▓░  ░            
 ░░░░░░░░░░   ░░░▒▓▒░▓▓░ ░▓░░ ░░░░░░ ▓▒▓▓  ░▓▒▒▒▒░░▒▒▒▓▓▓▓▓▓▒░▒▒▓▓▓▒ ▒▓ ▒▒░░░░   ░░░    ░▒            
▒▒░      ░▒▒░░▒▒▓▒░░▓▒  ▓░░░    ░░░░  ░ ▓▒▓▒░ ░▒▒▓▓▓▒░░░▒▒▓▓▓▓▒░▓▒▓▓ ▒▒▒▒▒▒░░░░░░      ░░
▒▒▒░░░░░▒░▒▒▓▓▒▓▒ ▓▓▒ ░▓░░   ░░     ░░░░  ░░▓▓▓▒░░░░░░▓▒░░░▒▓▓▓▓▒▓▓▓░░░▒ ▒▒▒▒▒▒▒░░░░░░░░ ░░░
▓▓▒▒▓▓▓▓▓▓▒▒▒▒▒ ░▓▓  ░▒ ░  ░ ░     ░░░░ ░░░░  ░▒▒▒▒░░░░░░░░░ ░▒▒▓▓▓▓▓ ░░░▒░░ ▒▒▒░▒░ ░░  ▓▓ ░░░
▒▓▓▓▓▓▓░ ▒▒ ░░▒▒▓░  ▒░   ░░    ▒░▓▓░░░░▓▓▓▒▒▒▒▒▒▒▒▒░  ░▒▓▓▒░░▒▓▓▒▒▒▓▓▒░░░░▒░░ ░▒▒▒▒░░░▒░
   ░▒▒▒░░░▒▓▓░░   ▒▒░  ░░    ░▒░░  ░  ░░  ░░  ▓░    ▒▒░▒▒ ░░▒░░░░░▒░░░░░▓░░▒░░ ░░░
 ░▒▓▒▒░░░░░░░░░░░▒   ░░    ░░░            ░▒ ░    ░▒▒ ▒░ ░░   ░░░░░░░░░░░▓▒░▒░░  ░░░░░░ ░░  ░
 ░░░░░░░░░░░░░░░░░▒░░   ░▒░            ░░ ░       ▓▒ ▒░ ░    ░    ░    ▒░ ▒▓▒▓▒░░   ░░░░░░ ░░
             ░       ░ ░          ░  ░          ░▒  ░░  ░   ░   ░    ░░▒ ░░░░▒▓▓▒░░░ ░░      ░░░░░░
                                  ░            ▒░   ▓░ ░ ▒              ░░░▒▒░░▒▓▓▒▒▒▒▒▒▒░        ░░░
                   ░                        ░▒░░   ▒   ░      ░          ░░░ ░▒░ ▒▓▓▓▒▒░▒▒▒▒▒░░░░░░░░
    ▒                   ░░  ░░    ░░░░░░  ▒      ░░░  ░                    ░░  ░▒▒ ░▒▒▓▒▒▓  ▒▒▒▒▒▒▒ ░░
     ░                        ▒     ░   ░░░░░░ ▒                             ░░░ ░▒░░▒▒░▓▒▓▓ ▒▒ ░░▒▒░░░
                                  ░         ░   ░                          ░   ░   ▒▒▒░░▒░ ▒▓▓▒▒▒▒▒   ░░░░
                                             ░                                 ░ ░  ░░▒▒▓▒▒▒▒▒▒▓   ▒▒
         ░                       ░                                              ░     ▒ ░▒    ▒▒░░░▒
          ▒                                                                      ▓       ░    ░    ░░░▒
                                              ░                                  ▒░                  ░░░
                                               ░                                  ▒  ░                 ░░░
                                                ░
-->
    </main>
  </body>
</html>

<script>
  const chars = ".,-_~+:;=*π'\"┐┌┘└┼├┤┴┬│╗╔╝╚╬╠╣╩╦║░▒▓█▄▀▌▐■!?&#$@aAbBcCdDeEfFgGhHiIjJkKlLmMnNoOpPqQrRsStTuUvVwWxXyYzZ0123456789%()";
  const EFFECT_RADIUS = 20; // Pixels
  const ANIMATION_SPEED = 12; // ms per frame
  const activatingSpans = new Set();
  let mouseX = 0;
  let mouseY = 0;

  document.querySelectorAll('.glitch').forEach(block => {
    const originalText = block.innerText;
    block.innerHTML = '';
    
    originalText.split('').forEach(char => {
      const span = document.createElement('span');  
      span.innerText = char;
      span.dataset.char = char;
      span.style.display = 'inline';
      block.appendChild(span);
    });
  });

  document.addEventListener('mousemove', (e) => {
    mouseX = e.clientX;
    mouseY = e.clientY;
    
    document.querySelectorAll('.glitch span').forEach(span => {
      const rect = span.getBoundingClientRect();
      const spanCenterX = rect.left + rect.width / 2;
      const spanCenterY = rect.top + rect.height / 2;
      const distance = Math.sqrt(
        Math.pow(mouseX - spanCenterX, 2) + Math.pow(mouseY - spanCenterY, 2)
      );
      
      if (distance < EFFECT_RADIUS) {
        activatingSpans.add(span);
        if (!span.interval) {
          scrambleLetter(span);
        }
      }
    });
  });

  function scrambleLetter(span) {
    const targetChar = span.dataset.char;
    
    if (!chars.includes(targetChar)) return;
    
    let index = 0;
    
    span.interval = setInterval(() => {
      span.innerText = chars[index];
      
      if (chars[index] === targetChar) {
        clearInterval(span.interval);
        span.interval = null;
        activatingSpans.delete(span);
      }
      
      index = (index + 1) % chars.length;
    }, ANIMATION_SPEED);
  }

</script>

<style>
  /* I needed an ascii tool that would export without height correction.
  1:1 pixel to character ratio was acceptable because i could just pre-shrink the input image
  Not using the block characters was okay because I could replace them after.
  Still, it was difficult, and I even looked at img to excel, img to minecraft, and tried to use img to ansi coloring
  After searching for the right ascii tool for 2 hours, cpc vibe coded a tool for me that made me remember that i'm not using a square font
  I am going to kill somebody within a 0m radius of me.
  Anyway because of this, I'm using non aspect-corrected (AC) for background and AC typeface for content text. Cringe.*/

  @font-face {
    font-family: 'IBM-BIOS-SQ';
    src: url('/fonts/IBM-BIOS-SQ.woff') format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'IBM-BIOS-AC';
    src: url('/fonts/IBM-BIOS-AC.woff') format('woff');
    font-display: swap;
  }

  :root {
    --bg: #000000;
    --text: rgb(255, 195, 0);
    /* --bg: #ff0;
    --text: #000; */
    --columns: 200;
    --ratio: 1; /* 0.555 perfect for fira code */
  }
  
  ::selection {
    background: var(--text);
    color: var(--bg);
  }

  ::-webkit-scrollbar {
    width: 1rem;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--bg);
  }

  ::-webkit-scrollbar-thumb {
    background: var(--text);
  }

  body {
    overflow-x: hidden;
    background: var(--bg);
    color: var(--text);
  }
  
  #terminal {
    width: 100%;
  }
  
  pre {
    font-family: 'IBM-BIOS-SQ', monospace;
    margin: 0;
    width: 100%;
    font-size: calc(100vw / (var(--columns) * var(--ratio)));
    line-height: 1;
    letter-spacing: 0px;
  }

  a {
    color: var(--text);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .inv {
    color: var(--bg);
    background: var(--text);
  }

  .box {
    border: 0.2em dotted var(--text);
    padding: 0.2em 0.4em;
    /* this means that anything boxed will take 2*0.4+0.2 = 1em in width extra, so remove a blankspace to compensate */
  }

</style>