---
import MainLayout from "../layouts/MainLayout.astro";
import Footer from "../components/Footer.astro";
---

<MainLayout title="About">
  <div id="luxy" class="smoothscroll">
    <div class="about_rich_text w-richtext">
      <h1>Who are you?</h1>
      <p>I am 19 years old, born in Korea, and have been studying in Singapore since 2010.</p>
      <h2>// My Characteristics</h2>
      <p>I am a jack of all trades, with specific experiences and expertise in virtually any sector, especially regarding creative mediums.</p>
      <p>My work processes favour creativity and innovative approaches to tasks. This is accompanied by heavy, yet uncluttered documentation with a focus on presentation.</p>
      <h2>// My Beliefs</h2>
      <p>I cannot emphasise the importance of the Medici Effect enough, and have an intense ardour for intellectual cross-pollination.</p>
      <p>The Confucian ideal society resonates with me, one where the people are enriched in knowledge, coexisting beyond the cofines of capital and even ownership. After all, why should one&#x27;s knowledge be exclusively theirs? The propagation of knowledge should be catalysed by altruism.</p>
      <p>I&#x27;ll hopefully be making more abstract blog posts.</p>
      <h1>What do you want?</h1>
      <p>I wish to apply various knowledge and skills I have acquired in the past, gaining a deeper understanding of them in the process.</p>
      <p>My penultimate goal by 30 is to become someone who can create something fully of my own, from design to operation. I&#x27;m confident that your school will be the right path to that.</p>
      <p>My ultimate goal is world domination. Perhaps you can help me with that too.</p>
      <h1>What do you do?</h1>
      <p>
        <a href="/blog/main">You can find my showcase and blog posts here.</a>
      </p>
      <h1>What are your skills?</h1>
      <figure class="w-richtext-align-fullwidth w-richtext-figure-type-image">
        <div><img src="assets/images/Skillschart4K.png" loading="lazy" alt="Skills chart"></div>
      </figure>
    </div>
    <div class="about_bigboy">Image of the creator</div>
    <div class="footer">
      <a href="https://github.com/itsSanalog/sanalog.net/blob/main/LICENSE" target="_blank" class="footer">© 2023 Sanalog</a>
    </div>
  </div>

  <style>
    /*  */
  </style>

  <!-- SMOOTH SCROLLING -->
  <script slot="js" src="https://min30327.github.io/luxy.js/dist/js/luxy.js"></script>
  <script slot="js">
  var isMobile = /iPhone|iPad|Android/i.test(navigator.userAgent);
  if (!isMobile) {
      luxy.init({
          wrapper: '#luxy',
          wrapperSpeed: 0.069, //haha 69
      });
  }
  </script>
</MainLayout>