---
const { title, description } = Astro.props;

import "../styles/normalize.css";
import "../styles/initialise.css";

import Head from "../components/blog/Head.astro";
import Nav from "../components/blog/Nav.astro";
import Footer from "../components/blog/Footer.astro";
---

<html lang="en">
  <Head {title} {description} />

  <body>
    <!-- Check for cached theme preference -->
    <script>
      if (localStorage.theme === 'light' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: light)').matches)) {
        document.querySelector('body').classList.add('theme-light')
      }
    </script>

    <Nav />

    <main>
      <content>
        <slot />
      </content>
    </main>
    
    <Footer />

    <script>
      var lightModeToggle = document.querySelector("#theme-toggle");
      
      function initializeTheme() {
        let isLightMode = document.body.classList.contains("theme-light");
        lightModeToggle.setAttribute("aria-checked", isLightMode.toString());
      }

      function updateThemeState() {
        let isLightMode = document.body.classList.contains("theme-light");
        let theme = isLightMode ? "light" : "dark";
        localStorage.setItem("theme", theme);
        lightModeToggle.setAttribute("aria-checked", isLightMode.toString());
      }

      function toggleTheme() {
        document.body.classList.toggle("theme-light");
        updateThemeState();
      }

      lightModeToggle.addEventListener("click", toggleTheme);

      window.addEventListener('keydown', function(e) {
        if (document.activeElement.tagName === 'INPUT' || document.activeElement.tagName === 'TEXTAREA') {
          return;
        }
        if (e.key === 'd' || e.key === 'D') {
          toggleTheme();
        }
      });

      initializeTheme();
    </script>
  </body>
</html>
