<footer class="wrap mn4 c>
  <hr/>
  <div class="wrap flex-row justify-content">
    <a class="muted" style="text-decoration: none; font-variant: oldstyle-nums; font-family:Arial, Helvetica, sans-serif;" href="https://github.com/itsSanalog/sanalog.net/blob/main/LICENSE" target="_blank">2024 sanalog</a>
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">
      <img class="footer-icon" alt="creative commons" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Cc.logo.circle.svg">
    </a>
    <a href="https://webring.xxiivv.com/#sanalog" target="_blank" rel="noopener">
      <img class="footer-icon" alt="XXIIVV webring" src="https://webring.xxiivv.com/icon.black.svg"/>
    </a>
  </div>
</footer>

<style>
  .footer-icon {
    height: 1.6em;
    filter: invert(89%) sepia(11%) saturate(157%) hue-rotate(17deg) brightness(96%) contrast(80%);
  }
  
  .theme-light .footer-icon {
    filter: invert(0%) sepia(65%) saturate(7474%) hue-rotate(62deg) brightness(102%) contrast(88%);
  }
</style>