<footer class="wrap mn4 r">
  <hr/>
  <div class="wrap flex-row justify-center align-center">
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0">
      <img class="footer-icon" alt="creative commons" src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Cc.logo.circle.svg">
    </a>
    <a href="https://webring.xxiivv.com/#sanalog" target="_blank" rel="noopener">
      <img class="footer-icon" style="height: 2em;" alt="XXIIVV webring" src="https://webring.xxiivv.com/icon.black.svg"/>
    </a>
    <a class="muted" style="text-decoration: none; font-variant: oldstyle-nums; flex-grow: 1;" href="https://github.com/itsSanalog/sanalog.net/blob/main/LICENSE" target="_blank">sanalog 2025</a>
  </div>
</footer>

<style>
  .footer-icon {
    height: 1.6em;
    filter: brightness(0) saturate(100%) invert(57%) sepia(3%) saturate(546%) hue-rotate(5deg) brightness(92%) contrast(88%);
  }
  .footer-icon:hover {
    filter: brightness(0) saturate(100%) invert(74%) sepia(54%) saturate(5147%) hue-rotate(340deg) brightness(88%) contrast(93%);
  }

  .theme-light .footer-icon {
    filter: brightness(0) saturate(100%) invert(44%) sepia(4%) saturate(395%) hue-rotate(13deg) brightness(97%) contrast(97%);
  }
  .theme-light .footer-icon:hover {
    filter: brightness(0) saturate(100%) invert(31%) sepia(81%) saturate(1239%) hue-rotate(356deg) brightness(94%) contrast(88%);
  }
</style>