---

---

<nav class="flex align-center font-ui">
  <span class="flex-grow">
      <a class="internal-link plain" href="https://stephango.com/">Steph Ango</a>
  </span>
  <span class="flex-shrink ssr">
      <a href="https://stephango.com/about" class="muted plain">About</a>
      <a href="https://stephango.com/now" class="muted plain ssl mh">Now</a>
  </span>
  <span id="theme-toggle" title="Toggle dark mode" aria-label="Toggle dark mode" type="button" role="switch" aria-checked="true">
      <div class="theme-toggle-slide"></div>
      <div class="theme-toggle-switch"></div>
  </span>
</nav>