---
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
import BlogLayout from "../../../layouts/BlogLayout.astro";
import Collapsible from "../../../components/blog/Collapsible.astro";

const toolReviews = await getCollection("reviews", ({ id }) => {
  return id.startsWith("tools/");
});
toolReviews.sort((a, b) => {
  return b.data.sortOrder - a.data.sortOrder;
});

const preface = await getEntry("reviews", "preface");
const { Content } = await preface.render();
---

<BlogLayout title="Reviews">
  <content>
    <p class="muted">quick links</p>
    <!-- To use centerdot or | is a good UI question, as well as using &centerdot; over &xB7; for clarity -->
    <a href="/blog/reviews/music"   class="plain mmr">music</a>&centerdot;
    <a href="/blog/reviews/games"    class="plain mml mmr">games</a>&centerdot;
    <a href="/blog/reviews/film"    class="plain mml mmr">film</a>&centerdot;
    <a href="/blog/reviews/webtoon" class="plain mml mmr">webtoon</a>&centerdot;
    <a href="/blog/reviews/tools"    class="plain mml">tools</a>
    
    <Content />

    <!-- <Collapsible name="music">
      {
        musicReviews.map((review) => (
          <a href={ `/blog/${ review.slug }` } class="plain">
            <Image src={ review.data.cover } alt={ review.data.coverAlt } />
            <h2 style="margin-top: 1rem;">{ review.data.title }</h2>
            <p>{ review.data.rating }</p>
          </a>
        ))
      }
    </Collapsible> -->
  </content>
</BlogLayout>