---
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";
import BlogLayout from "../../../layouts/BlogLayout.astro";

const webtoonReviews = await getCollection("reviews", ({ id }) => {
  return id.startsWith("webtoon/");
});
webtoonReviews.sort((a, b) => {
  return b.data.sortOrder - a.data.sortOrder;
});
---

<BlogLayout title="Webtoon">
  <content>
    {
      webtoonReviews.map((review) => (
      <a href={ `/blog/${ review.slug }` } class="plain">
          <Image src={ review.data.cover } alt={ review.data.coverAlt } />
          <h2 style="margin-top: 1rem;">{ review.data.title }</h2>
          <p>{ review.data.rating }</p>
      </a>
      ))
    }
  </content>
</BlogLayout>