/* https://9elements.com/css-rule-order/ - fail    */
/* Credits:                                        */
/* (MIT License) github.com/necolas/normalize.css  */
/* (MIT License) github.com/kepano/flexoki         */

/* the goal is to use more variables so it's easier to be consistent */
/* also trying out functional css so that styles are modularised and easily changed in html  */
/*     Q: why don't you use tailwind?    A: skill issue                                      */
/* also i don't want to name things like [page]_[classname] any more because that's cursed   */
/* also i was making entire classes for things i'd only use once, so let's not do that       */

* {
  box-sizing: border-box;
}

:root {
  --font-content: Helvetica, Arial, sans-serif;
  --font-mono: FiraCode, Consolas, monospace;
  --border-radius: 4px;
  --font-small: 0.875em; /* 16 to 14 */
  --font-smaller: 0.8em; 
  --wrap-wide: 1000px;
  --wrap-normal: 70ch;
  --image-radius: 8px;
  --line-height: 1.5;
}

@media (max-width: 860px) {
  :root {
    --wrap-normal: 88vw;
    --wrap-wide: 100vw;
  }

  :root .wide {
    --border-radius: 0;
    --image-radius: 0;
  }
}



/* -------------------- */
/* ----- VARIABLES -----*/
/* -------------------- */

:root {
  --flexoki-black:       #100F0F;
  --flexoki-paper:       #FFFCF0;

  --flexoki-950:         #1C1B1A;
  --flexoki-900:         #282726;
  --flexoki-850:         #343331;
  --flexoki-800:         #403E3C;
  --flexoki-700:         #575653;
  --flexoki-600:         #6F6E69;
  --flexoki-500:         #878580;
  --flexoki-300:         #B7B5AC;
  --flexoki-200:         #CECDC3;
  --flexoki-150:         #DAD8CE;
  --flexoki-100:         #E6E4D9;
  --flexoki-50:          #F2F0E5;
  
  --flexoki-red-600:     #AF3029;
  --flexoki-red-400:     #D14D41;
  --flexoki-orange-600:  #BC5215;
  --flexoki-orange-400:  #DA702C;
  --flexoki-yellow-600:  #AD8301;
  --flexoki-yellow-400:  #D0A215;
  --flexoki-green-600:   #66800B;
  --flexoki-green-400:   #879A39;
  --flexoki-cyan-600:    #24837B;
  --flexoki-cyan-400:    #3AA99F;
  --flexoki-blue-600:    #205EA6;
  --flexoki-blue-400:    #4385BE;
  --flexoki-purple-600:  #5E409D;
  --flexoki-purple-400:  #8B7EC8;
  --flexoki-magenta-600: #A02F6F;
  --flexoki-magenta-400: #CE5D97;
}

:root, .theme-dark {
  --color-bg-primary:     var(--flexoki-black);
  --color-bg-secondary:   var(--flexoki-950);
  --color-ui-normal:      var(--flexoki-900);
  --color-ui-hover:       var(--flexoki-850);
  --color-ui-active:      var(--flexoki-800);
  --color-tx-normal:      var(--flexoki-200);
  --color-tx-muted:       var(--flexoki-500);
  --color-tx-faint:       var(--flexoki-700);

  --color-action:         var(--flexoki-orange-400);
  --color-selection:    rgba(100, 65, 30, 0.4);
  
  --color-re:             var(--flexoki-red-400);
  --color-re-hover:       var(--flexoki-red-600);
  --color-or:             var(--flexoki-orange-400);
  --color-or-hover:       var(--flexoki-orange-600);
  --color-ye:             var(--flexoki-yellow-400);
  --color-ye-hover:       var(--flexoki-yellow-600);
  --color-gr:             var(--flexoki-green-400);
  --color-gr-hover:       var(--flexoki-green-600);
  --color-cy:             var(--flexoki-cyan-400);
  --color-cy-hover:       var(--flexoki-cyan-600);
  --color-bl:             var(--flexoki-blue-400);
  --color-bl-hover:       var(--flexoki-blue-600);
  --color-pu:             var(--flexoki-purple-400);
  --color-pu-hover:       var(--flexoki-purple-600);
  --color-ma:             var(--flexoki-magenta-400);
  --color-ma-hover:       var(--flexoki-magenta-600);
  
}

.theme-light {
  --color-bg-primary:     var(--flexoki-paper);
  --color-bg-secondary:   var(--flexoki-50);
  --color-ui-normal:      var(--flexoki-100);
  --color-ui-hover:       var(--flexoki-150);
  --color-ui-active:      var(--flexoki-200);
  --color-tx-normal:      var(--flexoki-black);
  --color-tx-muted:       var(--flexoki-600);
  --color-tx-faint:       var(--flexoki-300);

  --color-action:         var(--flexoki-orange-600);
  --color-selection:    rgba(210, 135, 60, 0.2);
  
  --color-re:             var(--flexoki-red-600);
  --color-re-hover:       var(--flexoki-red-400);
  --color-or:             var(--flexoki-orange-600);
  --color-or-hover:       var(--flexoki-orange-400);
  --color-ye:             var(--flexoki-yellow-600);
  --color-ye-hover:       var(--flexoki-yellow-400);
  --color-gr:             var(--flexoki-green-600);
  --color-gr-hover:       var(--flexoki-green-400);
  --color-cy:             var(--flexoki-cyan-600);
  --color-cy-hover:       var(--flexoki-cyan-400);
  --color-bl:             var(--flexoki-blue-600);
  --color-bl-hover:       var(--flexoki-blue-400);
  --color-pu:             var(--flexoki-purple-600);
  --color-pu-hover:       var(--flexoki-purple-400);
  --color-ma:             var(--flexoki-magenta-600);
  --color-ma-hover:       var(--flexoki-magenta-400);

}

/* Semantic Tones */
.bg { background-color: var(--color-bg-primary) }
.bg-2 { background-color: var(--color-bg-secondary) }
.bg-ui { background-color: var(--color-ui-normal) }
.bg-ui-2 { background-color: var(--color-ui-hover) }
.bg-ui-3 { background-color: var(--color-ui-active) }
.bg-tx { background-color: var(--color-tx-normal) }
.bg-tx-2 { background-color: var(--color-tx-muted) }
.bg-tx-3 { background-color: var(--color-tx-faint) }
.bg-black { background-color: var(--flexoki-black) }
.bg-paper { background-color: var(--flexoki-paper) }

/* Absolute Tones */
.bg-flexoki-950 { background-color: var(--flexoki-950) }
.bg-flexoki-900 { background-color: var(--flexoki-900) }
.bg-flexoki-850 { background-color: var(--flexoki-850) }
.bg-flexoki-800 { background-color: var(--flexoki-800) }
.bg-flexoki-700 { background-color: var(--flexoki-700) }
.bg-flexoki-600 { background-color: var(--flexoki-600) }
.bg-flexoki-500 { background-color: var(--flexoki-500) }
.bg-flexoki-300 { background-color: var(--flexoki-300) }
.bg-flexoki-200 { background-color: var(--flexoki-200) }
.bg-flexoki-150 { background-color: var(--flexoki-150) }
.bg-flexoki-100 { background-color: var(--flexoki-100) }
.bg-flexoki-50 { background-color: var(--flexoki-50) }

/* Semantic Colours */
.bg-re { background-color: var(--color-re) }
.bg-or { background-color: var(--color-or) }
.bg-ye { background-color: var(--color-ye) }
.bg-gr { background-color: var(--color-gr) }
.bg-cy { background-color: var(--color-cy) }
.bg-bl { background-color: var(--color-bl) }
.bg-pu { background-color: var(--color-pu) }
.bg-ma { background-color: var(--color-ma) }
.bg-re-2 { background-color: var(--color-re-hover) }
.bg-or-2 { background-color: var(--color-or-hover) }
.bg-ye-2 { background-color: var(--color-ye-hover) }
.bg-gr-2 { background-color: var(--color-gr-hover) }
.bg-cy-2 { background-color: var(--color-cy-hover) }
.bg-bl-2 { background-color: var(--color-bl-hover) }
.bg-pu-2 { background-color: var(--color-pu-hover) }
.bg-ma-2 { background-color: var(--color-ma-hover) }

/* Absolute Colours */
.bg-red-600 { background-color: var(--flexoki-red-600) }
.bg-orange-600 { background-color: var(--flexoki-orange-600) }
.bg-yellow-600 { background-color: var(--flexoki-yellow-600) }
.bg-green-600 { background-color: var(--flexoki-green-600) }
.bg-cyan-600 { background-color: var(--flexoki-cyan-600) }
.bg-blue-600 { background-color: var(--flexoki-blue-600) }
.bg-purple-600 { background-color: var(--flexoki-purple-600) }
.bg-magenta-600 { background-color: var(--flexoki-magenta-600) }
.bg-red-400 { background-color: var(--flexoki-red-400) }
.bg-orange-400 { background-color: var(--flexoki-orange-400) }
.bg-yellow-400 { background-color: var(--flexoki-yellow-400) }
.bg-green-400 { background-color: var(--flexoki-green-400) }
.bg-cyan-400 { background-color: var(--flexoki-cyan-400) }
.bg-blue-400 { background-color: var(--flexoki-blue-400) }
.bg-purple-400 { background-color: var(--flexoki-purple-400) }
.bg-magenta-400 { background-color: var(--flexoki-magenta-400) }



/* -------------------- */
/* ------ SPACING ------*/
/* -------------------- */

/* Padding */
.p0 { padding: 0 }
.pt0 { padding-top: 0 }
.pr0 { padding-right: 0 }
.pb0 { padding-bottom: 0 }
.pl0 { padding-left: 0 }

.pa { padding: 1rem }
.pt { padding-top: 1rem }
.pr { padding-right: 1rem }
.pb { padding-bottom: 1rem }
.pl { padding-left: 1rem }

.ppa { padding: 2rem }
.ppt { padding-top: 2rem }
.ppr { padding-right: 2rem }
.ppb { padding-bottom: 2rem }
.ppl { padding-left: 2rem }

.pn1 { padding-top: 2rem }
.pn2 { padding-top: 4rem }
.pn3 { padding-top: 6rem }
.pn4 { padding-top: 8rem }

.ps1 { padding-bottom: 2rem }
.ps2 { padding-bottom: 4rem }
.ps3 { padding-bottom: 6rem }
.ps4 { padding-bottom: 8rem }

/* Margins */
.mt0 { margin-top: 0 }
.mr0 { margin-right: 0 }
.mb0 { margin-bottom: 0 }
.ml0 { margin-left: 0 }

.mt { margin-top: 1rem }
.mr { margin-right: 1rem }
.mb { margin-bottom: 1rem }
.ml { margin-left: 1rem }

.mmt { margin-top: 2rem }
.mmr { margin-right: 2rem }
.mmb { margin-bottom: 2rem }
.mml { margin-left: 2rem }

.mn1 { margin-top: 2rem }
.mn2 { margin-top: 4rem }
.mn3 { margin-top: 6rem }
.mn4 { margin-top: 8rem }

.ms1 { margin-bottom: 2rem }
.ms2 { margin-bottom: 4rem }
.ms3 { margin-bottom: 6rem }
.ms4 { margin-bottom: 8rem }



/* -------------------- */
/* ------ STYLING ------*/
/* -------------------- */

::selection {
  background: var(--color-selection);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--color-ui-normal);
}

html {
  width: 100%;
  height: 100%;
  font-size: 10px;
}

body {
  color-scheme: light dark;
  background-color: var(--color-bg-primary);
  padding: 3.2rem 0 32rem;
  color: var(--color-tx-normal);
  line-height: var(--line-height);
  font-family: var(--font-content);
  font-size: calc(1.4rem + 0.25vw);
}

.small {
  font-size: var(--font-small);
  line-height: 1.4;
}

.smaller {
  font-size: var(--font-smaller);
  line-height: 1.4;
}

.muted { color: var(--color-tx-muted) }

.faint { color: var(--color-tx-faint) }

.action { color: var(--color-action) }

.font-content { font-family: var(--font-content) }

.font-ui { font-family: var(--font-content) }

.font-mono { font-family: var(--font-mono) }

/* p {} */

.l { text-align: left }
.r { text-align: right }
.c { text-align: center }
.j { text-align: justify }

mark {
  background-color: var(--color-highlight);
}

blockquote {
  padding-left: 1em;
  margin: 1.5em 0;
  border-left: 4px solid var(--color-tx-faint);
}

hr {
  width: 100%;
  height: 1px;
  border: 0;
  margin: 1.5em 0;
  background: var(--color-ui-normal);
}

content {
  display: block;
  max-width: var(--wrap-wide);
  width: var(--wrap-normal);
  margin-left: auto;
  margin-right: auto;
}

content .wide {
  width: Min(100vw, var(--wrap-wide));
  margin-left: calc((Min(100vw, var(--wrap-wide)) - 100%)/-2);
}

content hr {
  margin: 2em, 0;
  display: block;
  border: 0;
  background: none;
  text-align: center;
  overflow: visible;
}

content hr:before {
  content: '\2022\2022\2022';
  display: inline-block;
  font-size: calc(.8em + .2vw);
  margin-left: 0.6em;
  letter-spacing: 1.25em;
  color: var(--color-tx-faint);
  position: relative;
  top: -0.75em;
}

.flex { display: flex }

.flex-column { 
  display: flex;
  flex-direction: column;
}

.flex-row { 
  display: flex;
  flex-direction: row;
}

.align-center { align-items: center }
.align-baseline { align-items: baseline }
.justify-center { justify-content: center }

.flex-grow { flex-grow: 1 }
.flex-shrink { flex-shrink: 1 }

.grid { display: grid }

.grid-columns {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.wrap {
  max-width: var(--wrap-normal);
  margin-left: auto;
  margin-right: auto;
}



/* ------ HEADING ------*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

h1 {
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1.4em;
  /* letter-spacing: -0.015em; */
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1em;
  margin-top: 1em;
}

h4 {
  font-size: 1em;
  margin-top: 1em;
}

h5 {
  text-transform: uppercase;
  font-size: 1.4em;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: var(--color-tx-normal);
  text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: var(--color-action);
}



/* ------- LINKS -------*/

a {
  color: var(--color-tx-normal);
  text-decoration: underline;
}

a:hover {
  color: var(--color-action);
}

a:focus {
  background-color: var(--color-bg-hover);
}

a.plain,
a.muted {
  text-decoration: none;
}

.extlink {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_2' data-name='Layer 2' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: rgb(135, 133, 128); stroke-width: 0px; %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpath class='cls-1' d='M67.99,91.53L4.92,28.47C-5.11,18.44,1.12.85,15.28.03c.39-.02.78-.03,1.18-.03h60c11.05,0,20,8.95,20,20v60c0,.39-.01.79-.03,1.18-.82,14.16-18.4,20.39-28.43,10.36Z'/%3E%3C/g%3E%3C/svg%3E");
  background-position: right 10%;
  background-repeat: no-repeat;
  background-size: 0.55em;
  padding-right: 0.7em;
}



/* ------- LISTS -------*/

ol,
ul {
  padding-left: 1em;
  margin-right: 0.5em;
}

ol>li::marker,
ul>li::marker {
  color: var(--color-tx-faint);
}



/* ------- CODE; -------*/

code,
kbd {
  font-family: var(--font-mono);
  background: var(--color-bg-secondary);
  padding: 0.1em 0.2em;
  border-radius: 4px;
  font-size: 85%;
}    

kbd {
  border: 1px solid var(--color-ui-hover);
}    

pre {
  border-radius: 4px;
  padding: 1em;
  font-family: var(--font-mono);
  font-size: 90%;
  border: 1px solid var(--color-ui-normal);
}    

pre code {
  background-color: transparent;
}    

/* .highlight {} */



/* ----- FOOTNOTES -----*/

.footnote {
  color: var(--color-tx-muted);
  text-decoration: none;
  font-weight: 500;
  padding-left: 0.1em;
}    

.reversefootnote {
  color: var(--color-tx-muted);
  text-decoration: none;
}    

.footnotes {    /* is a div class */
  padding-top: 4em;
}    



/* ------- IMAGE -------*/

img {
  width: auto;
  height: auto; /* these stupid things exist because Astro <Image> forces a width and height that must be overridden by these */
  max-width: 100%;
  display: block;
  border-radius: var(--image-radius);
}  

img.outline {
  border: 1px solid var(--color-ui-normal);
}  



/* ------- TABLE -------*/

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 90%;
}

/* th { } */

tr {
  border-bottom: 1px solid var(--color-ui-normal);
}

td {
  padding: 0.5em 1em 0.5em 0;
}

/* 
td img {
  max-width: 100%;
  height: auto;
} */



/* ---- FORMS etc. -----*/

select{
  background-color: var(--color-bg-primary);
  color: var(--color-tx-normal);
  border: 1px solid var(--color-ui-normal);
  border-radius: var(--border-radius);
}
option{
  color: var(--color-tx-normal);
}


/* ------- THEME -------*/

#theme-toggle {
  height: 20px;
  width: 36px;
  display: block;
  position: relative;
  border: none;
  cursor: pointer;
  float: right;
}

#theme-toggle:hover .theme-toggle-switch {
  background-color: var(--color-action)
}

.theme-toggle-slide {
  height: 20px;
  border: 1px solid var(--color-ui-normal);
  border-radius: 24px;
  width: 100%;
  position: absolute;
}

.theme-toggle-switch {
  position: absolute;
  z-index: 9;
  top: 1px;
  left: 1px;
  right: auto;
  width: 18px;
  height: 18px;
  transition: left 0.1s linear;
  background-color: var(--color-tx-normal);
  mask-size: 18px;
  mask-position: 50% 50%;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' viewBox='0 0 24 24' %3E%3Cpath d='M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z' /%3E%3C/svg%3E")
}

.theme-light .theme-toggle-switch {
  left: 16px;
  background-color: var(--color-tx-muted);
  transition: left 0.1s linear;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' %3E%3Cpath fill-rule='evenodd' d='M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z' clip-rule='evenodd' /%3E%3C/svg%3E")
}



/* ----- TYPEFACES -----*/

@font-face {
  font-family: 'BritLight';
  src: url('/fonts/britrln.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'BritDark';
  src: url('/fonts/britrdn.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-Light.ttf') format('truetype');
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Variable.ttf') format('truetype');
  font-display: swap;
}