/* https://9elements.com/css-rule-order/ - FAIL */


* {
  box-sizing: border-box;
}

:root {
  --dark: #000;
  --light: #fff;
  --accent: #ff0;
}

::selection {
  background: var(--dark);
  color: var(--accent);
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: var(--dark);
}


/* Global Classes */


body {
  background-color: var(--accent);
  color: var(--dark);
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  margin: 0px;
}

a {
  color: var(--dark);
  text-decoration: none;
}

code {
  font-family: FiraCode, monospace;
  font-weight: normal;
}

article {
  text-align: justify;
}

article h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: BritLight, sans-serif;
  font-size: 100px;
}

article h2 {
  margin-top: 40px;
  margin-bottom: 20px;
}

article h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 30px;
  font-weight: lighter;
}

article h4 {
  margin-top: 20px;
  margin-bottom: 60px;
  font-size: 16px;
  line-height: 30px;
  font-weight: lighter;
}

article p {
  line-height: 1.5em;
}

.main_flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 10px;
  margin: 0 auto;
  max-width: 800px;
}

.title {
  margin-top: 0px;
  margin-bottom: 40px;
  font-family: BritLight, sans-serif;
  font-size: 150px;
}



/* Misc */

/* THIS NEEDS FIXING */
@media screen and (max-width: 990px) {
  .content, .logo.yellow, .menu_bar, .menu_bg, .menu_button, .home_fullpage, .home_scroller {
    display: none;
  }
  
  .mobile {
    display: flex;
  }
}

@font-face {
  font-family: 'BritLight';
  src: url('/fonts/britrln.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'BritDark';
  src: url('/fonts/britrdn.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-Light.ttf') format('truetype');
  font-weight: lighter;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica-Bold.ttf') format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-Variable.ttf') format('truetype');
  font-display: swap;
}