<footer>
  <a href="https://github.com/itsSanalog/sanalog.net/blob/main/LICENSE" target="_blank">2024 Sanalog</a>
  <!-- © -->
</footer>

<style>
  footer {
    margin: 50px;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>