---
import "../../styles/initialise.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    
  </head>

  <body class="theme-dark">
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.querySelector('body').classList.add('theme-dark')
      }
    </script>

    <nav class="flex align-center font-ui">
      <span class="flex-grow">
          <a class="internal-link plain" href="https://stephango.com/">Steph Ango</a>
      </span>
      <span class="flex-shrink ssr">
          <a href="https://stephango.com/about" class="muted plain">About</a>
          <a href="https://stephango.com/now" class="muted plain ssl mh">Now</a>
      </span>
      <span id="theme-toggle" title="Toggle dark mode" aria-label="Toggle dark mode" type="button" role="switch" aria-checked="true">
          <div class="theme-toggle-slide"></div>
          <div class="theme-toggle-switch"></div>
      </span>
    </nav>

    <main>

      <div class="wrap">

        <p><a href="https://stephango.com/earth" class="muted font-ui">Latest</a></p>

        <div>
          <a href="https://stephango.com/earth" class="plain">
            <h2>Earth is becoming sentient</h2>
            <div class="muted small pb font-ui">
              <time datetime="2024-02-26T00:00:00+00:00">February 26, 2024</time> · <span class="reading-time" title="Estimated read time">2 minute read</span>
            </div>
            <div class="small muted">
              Humans are not the last level of life’s fractal pattern. The Earth itself is becoming a sentient organism, a new stage of life, a species that exists on a scale never seen before... Keep&nbsp;reading&nbsp;→
            </div>  
          </a>
        </div>

        <hr class="mn2 ms2">

        <p><a href="https://stephango.com/topics" class="muted internal-link font-ui">Topics</a></p>

        <div class="line-height-loose">
          <a href="https://stephango.com/topics/advice" class="internal-link">advice</a><span class="muted">,</span>
          <a href="https://stephango.com/topics/competition" class="internal-link">competition</a><span class="muted">,</span>
          <a href="https://stephango.com/topics/startups" class="internal-link">startups</a><span class="muted">,</span>
          <a href="https://stephango.com/topics/writing" class="internal-link">writing</a>
        </div>

        <hr class="mn2 ms2">

        <p class="muted font-ui"><a href="https://stephango.com/writing" class="muted internal-link">Writing</a></p>

        <ul class="list-plain tabular-nums">
          <li><a href="https://stephango.com/earth" class="internal-link plain"><flex class="align-baseline"><span class="muted ppr flex-shrink small mh nowrap font-ui">2024 · 02</span><u>Earth is becoming sentient</u></flex></a></li>
          <li><a href="https://stephango.com/vcware" class="internal-link plain"><flex class="align-baseline"><span class="muted ppr flex-shrink small mh nowrap font-ui">2024 · 02</span><u>100% user-supported</u></flex></a></li>
          <li><a href="https://stephango.com/agents-of-chaos" class="internal-link plain"><flex class="align-baseline"><span class="muted ppr flex-shrink small mh nowrap font-ui">2012 · 11</span><u>Agents of chaos</u></flex></a></li>
        </ul>
      
      </div>
    </main>

    <footer>
      <div class="pn2 bt">
      </div>
    </footer>



    <script>
      var darkModeToggle = document.querySelector("#theme-toggle");

      function toggleTheme() {
        document.body.classList.toggle("theme-dark");
        updateThemeState();
      }

      function updateThemeState() {
        let isDarkMode = document.body.classList.contains("theme-dark");
        let theme = isDarkMode ? "dark" : "light";
        localStorage.setItem("theme", theme);
        darkModeToggle.setAttribute("aria-checked", isDarkMode.toString());
      }

      function initializeTheme() {
        let isDarkMode = document.body.classList.contains("theme-dark");
        darkModeToggle.setAttribute("aria-checked", isDarkMode.toString());
      }

      darkModeToggle.addEventListener("click", toggleTheme);

      window.addEventListener('keydown', function(e) {
        if (document.activeElement.tagName === 'INPUT' || document.activeElement.tagName === 'TEXTAREA') {
          return;
        }
        if (e.key === 'd' || e.key === 'D') {
          toggleTheme();
        }
      });

      initializeTheme();
    </script>

  

</body></html>