---
import { Image } from "astro:assets";
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout title="Photos">
  <content>
    <h1>pictures i took</h1>
    <p class="muted"><em>..not necessarily the good ones.</em></p>
    in construction, much akin to every other page
    <br />
    let me know if there are good image hosting services that are cheap or free (lychee looks good except self hosting can be annoying. lensdump seems decent)
  </content>
</BlogLayout>