---
import { Image } from "astro:assets";
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout title="Gallery">
  <content>
    <h1>film is expensive</h1>
    <p class="muted"><em>but pixels are free.</em></p>
    <p>A collection of photographs I took. Not necessarily the good ones, though.</p>
    
    in construction, much akin to every other page
    <br />
    let me know if there are good image hosting services that are cheap or free (lychee looks good except self hosting can be annoying)
  </content>
</BlogLayout>