---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BlogLayout from "../../layouts/BlogLayout.astro";
import Collapsible from "../../components/blog/Collapsible.astro";

const entries = (await getCollection("blog"));
---
<BlogLayout title="sanaBlog">
  <p class="muted">Featured</p>
  <a href="[LINK HERE]" class="plain">
    <h2>TITLE HERE</h2>
    <div class="muted small pb font-ui">
      <time datetime="2024-02-20T00:00:00+00:00">February 20, 2024</time> · <span class="reading-time" title="Estimated read time">2 minute read</span>
    </div>
    <div class="small muted">
      Humans are not the last level of life’s fractal pattern. The Earth itself is becoming a sentient organism, a new stage of life, a species that exists on a scale never seen before... Keep&nbsp;reading&nbsp;→
    </div>  
  </a>

  <hr class="mn2 ms2">

  <Collapsible name="code">
    <a href="#" class="plain">
      <div class="works_thumbnail_mask"><img src="../images/code/A03_Thumb.png" alt="" class="works_thumbnail"></div>
      <h2 class="works_title">PGRPG</h2>
      <p class="works_description">Ongoing puzzle series that forces me to explore more areas such as Lua, pixel art, story, and puzzle design.</p>
    </a>
    <a href="#" class="plain">
      <div class="works_thumbnail_mask"><img src="../images/code/A04_Thumb.png" alt="" class="works_thumbnail"></div>
      <h2 class="works_title">RichHard</h2>
      <p class="works_description">Tracking my expenses with a custom spreadsheet with useful analytic features.</p>
    </a>
    <a href="#" class="plain">
      <div class="works_thumbnail_mask"><img src="../images/code/A05_Thumb.png" alt="" class="works_thumbnail"></div>
      <h2 class="works_title">sanalog.net</h2>
      <p class="works_description">Exploring web design, scripting, and hosting by creating a simple personal page.</p>
    </a>
  </Collapsible>

  <hr class="mn2 ms2">

  {
    entries.map((entry) => ( //edit this to match https://docs.astro.build/en/guides/content-collections/#using-content-in-astro-templates
      <Image src={ entry.data.cover } alt={ entry.data.coverAlt } /> 
      <p> { entry.data.publicationDate } </p>
      <h3>
        <a href={ entry.slug }>{ entry.data.title }</a>
      </h3>
      <p>{ entry.data.description }</p>
    ))
  }


</BlogLayout>