---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import BlogLayout from "../../layouts/BlogLayout.astro";
import Collapsible from "../../components/blog/Collapsible.astro";

const entries = (await getCollection("blog"));
---
<BlogLayout title="sanaBlog">
  <p class="muted">Featured</p>
  <a href="[LINK HERE]" class="plain">
    <h2>TITLE HERE</h2>
    <div class="muted small pb font-ui">
      <time datetime="2024-02-20T00:00:00+00:00">February 20, 2024</time> · <span class="reading-time" title="Estimated read time">2 minute read</span>
    </div>
    <div class="small muted">
      Humans are not the last level of life’s fractal pattern. The Earth itself is becoming a sentient organism, a new stage of life, a species that exists on a scale never seen before... Keep&nbsp;reading&nbsp;→
    </div>  
  </a>

  <hr class="mn2 ms2">

  <Collapsible name="code">
    <a href="#" class="plain">
      <img src="https://i.imgur.com/qPcutdM.png" alt="">
      <h2>Weezer</h2>
      <p>whats with these homies, dissing my girl? why do they gotta front? what did we ever do to these guys that made them so violent?</p>
    </a>
    <a href="#" class="plain">
      <img src="https://i.imgur.com/qPcutdM.png" alt="">
      <h2>Weezer</h2>
      <p>whats with these homies, dissing my girl? why do they gotta front? what did we ever do to these guys that made them so violent?</p>
    </a>
    <a href="#" class="plain">
      <img src="https://i.imgur.com/qPcutdM.png" alt="">
      <h2>Weezer</h2>
      <p>whats with these homies, dissing my girl? why do they gotta front? what did we ever do to these guys that made them so violent?</p>
    </a>
  </Collapsible>

  <hr class="mn2 ms2">

  <Collapsible name="test">
  {
    entries.map((entry) => ( //doc: https://docs.astro.build/en/guides/content-collections/#using-content-in-astro-templates
      <a href={ `/blog/${ entry.slug }` } class="plain">
        <Image src={ entry.data.cover } alt={ entry.data.coverAlt } /> 
        <h2>{ entry.data.title }</h2>
        <p>{ entry.data.description }</p>
      </a>
    ))
  }
  
  </Collapsible>



</BlogLayout>