---
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout title="To-do">
  <content>
    <h1>to-do</h1>

    <p class="muted"><em>..or not to do.</em></p>

    <p class="mmb">A to-do list for sanalog.net.</p>
    <table>
      <thead class="l">
        <th>item</th>
        <th>category</th>
        <th>status</th>
        <th>notes</th>
      </thead>
      <tr>
        <td>CSS cleanup + new init CSS</td>
        <td>style</td>
        <td>done</td>
        <td>Try functional css</td>
      </tr>
      <tr>
        <td>Switch to Astro</td>
        <td></td>
        <td>done</td>
        <td></td>
      </tr>
      <tr>
        <td>Landing page overhaul</td>
        <td></td>
        <td>untouched</td>
        <td>Try <a href="https://processing.org/" target="_blank" class="extlink">processing.org</a></td>
      </tr>
      <tr>
        <td>Blog remake</td>
        <td></td>
        <td>done</td>
        <td>Uses Astro</td>
      </tr>
      <tr>
        <td>Review pages</td>
        <td></td>
        <td>working</td>
        <td>Six pages</td>
      </tr>
      <tr>
        <td>Photo gallery page</td>
        <td></td>
        <td>working</td>
        <td></td>
      </tr>
      <tr>
        <td>Tools page main menu</td>
        <td></td>
        <td>untouched</td>
        <td><a href="/blog/tools">tools</a></td>
      </tr>
      <tr>
        <td>Prep for webring(s)</td>
        <td></td>
        <td>done</td>
        <td><a href="https://webring.xxiivv.com/" target="_blank" class="extlink">webring</a></td>
      </tr>
      <tr>
        <td>Sitemap</td>
        <td>content</td>
        <td>working</td>
        <td>Figure out format and automation</td>
      </tr>
    </table>
    
    <p class="muted mmt ms2">last updated on Mar 02, 2025. done items are periodically deleted.</p>
    <p>Feedback or suggestions are always welcome. You can <a href="mailto:me@sanalog.net">email: me (at) sanalog.net</a>.</p>

  </content>
</BlogLayout>


<script>
  const rows = document.querySelectorAll('tr');
  rows.forEach(row => {
    if (row.children[2].textContent === 'done') {
      row.classList.add('faint');
      row.children[2].style.color = 'var(--color-gr)';
    }
    else if (row.children[2].textContent === 'working') {
      row.children[2].style.color = 'var(--color-ye)';
    }
    else if (row.children[2].textContent === 'untouched') {
      row.children[2].style.color = 'var(--color-tx-muted)';
    }
    else if (row.children[2].textContent === 'priority') {
      row.children[2].style.color = 'var(--color-re)';
    }
  });
</script>
